Repository questdb/questdb, pull requests merged in 2022-11, with the labels that each got.

#2706 fix(sql): disallow create table with index on non-symbol column
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/test/java/io/questdb/cairo/CreateTableTest.java
  core/src/test/java/io/questdb/griffin/SqlParserTest.java
Labels: Bug, SQL

#2709 feat(core): add support for N+ - nine-digit nanosecond format component
  core/src/main/java/io/questdb/std/Numbers.java
  core/src/main/java/io/questdb/std/datetime/microtime/GenericTimestampFormat.java
  core/src/main/java/io/questdb/std/datetime/microtime/TimestampFormatCompiler.java
  core/src/main/java/io/questdb/std/datetime/microtime/Timestamps.java
  core/src/main/resources/text_loader.json
  core/src/test/java/io/questdb/std/datetime/microtime/TimestampFormatCompilerTest.java
Labels: Enhancement, SQL, REST API

#2711 fix(sql): fix NullPointerException in join query over latest on sub-queries
  core/src/main/java/io/questdb/griffin/engine/table/AbstractDeferredValueRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueDeferredFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueDeferredIndexedFilteredRecordCursorFactory.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGSecurityTest.java
  core/src/test/java/io/questdb/griffin/InsertNullGeoHashTest.java
  core/src/test/java/io/questdb/griffin/InsertTest.java
  core/src/test/java/io/questdb/griffin/LatestByTest.java
  core/src/test/java/io/questdb/griffin/SimulatedDeleteTest.java
  core/src/test/java/io/questdb/griffin/SqlCompilerTest.java
Labels: Bug, SQL

#2715 fix(sql): fix empty result returned for query with no-op filter
  core/src/main/java/io/questdb/griffin/WhereClauseParser.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/griffin/WhereClauseParserTest.java
Labels: Bug, SQL

#2716 fix(core): fixes concurrent table create failures
  core/src/main/java/io/questdb/cairo/pool/WriterPool.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/test/java/io/questdb/cairo/CreateTableTest.java
Labels: Bug, SQL

#2699 Hyperlinked the logo in Readme.md
  README.md
Labels: Hacktoberfest

#2722 fix(core): fix race in reader pool locking
  core/src/main/java/io/questdb/cairo/pool/ReaderPool.java
Labels: Bug, Schrödinger's bug, Core

#2726 chore(core): simplify atomic operations in reader pool
  core/src/main/java/io/questdb/cairo/pool/ReaderPool.java
  core/src/main/java/io/questdb/cairo/pool/WriterPool.java
Labels: Tidy up, Core

#2735 fix(core): fix race in WAL table transaction log
  core/src/main/java/io/questdb/cairo/vm/MemoryCMARWImpl.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableSequencerAPI.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableSequencerImpl.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AbstractLineTcpReceiverFuzzTest.java
  core/src/test/java/io/questdb/std/DirectLongListTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Bug, Core

#2650 feat(core): allow attaching partitions from different volumes as symbolic links
  core/src/main/c/share/files.c
  core/src/main/c/share/files.h
  core/src/main/c/windows/files.c
  core/src/main/java/io/questdb/cairo/O3PartitionPurgeJob.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/griffin/UpdateOperator.java
  core/src/main/java/io/questdb/std/Files.java
  core/src/main/java/io/questdb/std/FilesFacade.java
  core/src/main/java/io/questdb/std/FilesFacadeImpl.java
  core/src/main/java/io/questdb/std/str/Path.java
  core/src/main/resources/io/questdb/bin/armlinux/libquestdb.so
  core/src/main/resources/io/questdb/bin/armosx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/main/resources/io/questdb/bin/osx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
  core/src/test/java/io/questdb/FilesTest.java
  core/src/test/java/io/questdb/griffin/AlterTableAttachPartitionTest.java
  core/src/test/java/io/questdb/griffin/O3PartitionPurgeTest.java
  core/src/test/java/io/questdb/std/str/PathTest.java
Labels: Enhancement

#2738 fix(sql): fix drop index when indexed column added as alter table
  core/src/main/java/io/questdb/cairo/O3CopyJob.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/griffin/DropIndexOperator.java
  core/src/test/java/io/questdb/griffin/DropIndexTest.java
Labels: Bug, SQL

#2745 chore(core): reformat of "benchmarks" and "utils". Also minor reformat of main classes. No features.
  benchmarks/src/main/java/org/questdb/CastBenchmark.java
  benchmarks/src/main/java/org/questdb/ClockBenchmark.java
  benchmarks/src/main/java/org/questdb/CoalesceBenchmark.java
  benchmarks/src/main/java/org/questdb/CutlassLexerTest.java
  benchmarks/src/main/java/org/questdb/DoubleBenchmark.java
  benchmarks/src/main/java/org/questdb/ForLoopOverObjListVsLCCSHashSetBenchmark.java
  benchmarks/src/main/java/org/questdb/GeoHashesAppendCharBenchmark.java
  benchmarks/src/main/java/org/questdb/GeoHashesFromCoordsBenchmark.java
  benchmarks/src/main/java/org/questdb/GeoHashesSwitchOnIntVsCharBenchmark.java
  benchmarks/src/main/java/org/questdb/JNIBenchmark.java
  benchmarks/src/main/java/org/questdb/LineTCPSenderMain.java
  benchmarks/src/main/java/org/questdb/LineTCPSenderMainFileLimitSimulation.java
  benchmarks/src/main/java/org/questdb/LineTCPSenderMainVarLenStrings.java
  benchmarks/src/main/java/org/questdb/LineTcpParserBenchmark.java
  benchmarks/src/main/java/org/questdb/LineUDPSenderMain.java
  benchmarks/src/main/java/org/questdb/Log4jBenchmark.java
  benchmarks/src/main/java/org/questdb/LogBenchmark.java
  benchmarks/src/main/java/org/questdb/MemCopyBenchmark.java
  benchmarks/src/main/java/org/questdb/MetricsBenchmark.java
  benchmarks/src/main/java/org/questdb/MetricsScrapeBenchmark.java
  benchmarks/src/main/java/org/questdb/OooCppBenchmarkSetMemoryShuffle.java
  benchmarks/src/main/java/org/questdb/OooCppBenchmarkSetMemoryVanilla.java
  benchmarks/src/main/java/org/questdb/ParseDoubleCharSequenceBenchmark.java
  benchmarks/src/main/java/org/questdb/ParseFloatCharSequenceBenchmark.java
  benchmarks/src/main/java/org/questdb/PingMain.java
  benchmarks/src/main/java/org/questdb/PongMain.java
  benchmarks/src/main/java/org/questdb/PrometheusSimpleClientBenchmark.java
  benchmarks/src/main/java/org/questdb/PrometheusSimpleClientScrapeBenchmark.java
  benchmarks/src/main/java/org/questdb/QMapReadRandomKeyBenchmark.java
  benchmarks/src/main/java/org/questdb/QMapReadSequentialKeyBenchmark.java
  benchmarks/src/main/java/org/questdb/QMapWriteBenchmark.java
  benchmarks/src/main/java/org/questdb/QMapWriteLongBenchmark.java
  benchmarks/src/main/java/org/questdb/SinkDoubleBenchmark.java
  benchmarks/src/main/java/org/questdb/SqlJitCompilerBenchmark.java
  benchmarks/src/main/java/org/questdb/SqlKeywordsBenchmark.java
  benchmarks/src/main/java/org/questdb/StrLoopBenchmark.java
  benchmarks/src/main/java/org/questdb/StrPosBenchmark.java
  benchmarks/src/main/java/org/questdb/SumDoubleBenchmark.java
  benchmarks/src/main/java/org/questdb/TableReaderReloadBenchmark.java
  benchmarks/src/main/java/org/questdb/TableWriterBenchmark.java
  core/src/main/java/io/questdb/WorkerPoolManager.java
  core/src/main/java/io/questdb/cutlass/http/HttpResponseSink.java
  core/src/main/java/io/questdb/cutlass/json/JsonLexer.java
  core/src/main/java/io/questdb/cutlass/text/TextDelimiterScanner.java
  core/src/main/java/io/questdb/griffin/engine/table/DataFrameRecordCursor.java
  core/src/main/java/io/questdb/mp/SOCountDownLatch.java
  core/src/main/java/io/questdb/std/ConcurrentHashMap.java
  core/src/main/java/io/questdb/std/datetime/microtime/TimestampFormatCompiler.java
  core/src/test/java/io/questdb/griffin/engine/table/TableWriterMetricsRecordCursorFactoryTest.java
  core/src/test/java/io/questdb/test/tools/TlsProxy.java
  utils/src/main/java/io/questdb/cliutil/CmdUtils.java
  utils/src/main/java/io/questdb/cliutil/RebuildColumnCommandArgs.java
  utils/src/main/java/io/questdb/cliutil/TxFileStruct.java
  utils/src/main/java/io/questdb/cliutil/TxSerializer.java
Labels: Tidy up

#2748 fix(http): fix filtered query performance when limit query param is specified
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContext.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContextImpl.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilterAtom.java
  core/src/test/java/io/questdb/cairo/AllowAllSqlSecurityContext.java
  core/src/test/java/io/questdb/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/http/SendAndReceiveRequestBuilder.java
  core/src/test/java/io/questdb/cutlass/text/SqlExecutionContextStub.java
  core/src/test/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
Labels: Bug, Performance, REST API

#2739 fix(core): restart IO syscall on EINTR
  core/src/main/c/freebsd/files.c
  core/src/main/c/linux/files.c
  core/src/main/c/share/files.c
  core/src/main/c/share/net.c
  core/src/main/c/share/sysutil.h
  core/src/main/resources/io/questdb/bin/armlinux/libquestdb.so
  core/src/main/resources/io/questdb/bin/freebsd/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/main/resources/io/questdb/bin/osx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
Labels: Bug, Core

#2754 fix(sql): fix possible errors when casting strings to double
  core/src/main/java/io/questdb/cutlass/line/udp/LineUdpLexer.java
  core/src/main/java/io/questdb/griffin/CharacterStore.java
  core/src/main/java/io/questdb/std/GenericLexer.java
  core/src/main/java/io/questdb/std/str/AbstractCharSequence.java
  core/src/main/java/io/questdb/std/str/DirectByteCharSequence.java
  core/src/main/java/io/questdb/std/str/DirectCharSequence.java
  core/src/test/java/io/questdb/griffin/engine/functions/cast/CastTest.java
  core/src/test/java/io/questdb/std/str/AbstractCharSequenceTest.java
Labels: Bug, Core

#2749 chore(core): avoid sequencer initialization in CheckWalTransactionsJob
  core/src/main/c/share/files.c
  core/src/main/c/share/files.h
  core/src/main/c/windows/files.c
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/mig/Mig607.java
  core/src/main/java/io/questdb/cairo/mig/Mig620.java
  core/src/main/java/io/questdb/cairo/wal/CheckWalTransactionsJob.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableSequencerAPI.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableTransactionLog.java
  core/src/main/java/io/questdb/cutlass/text/TextMetadataDetector.java
  core/src/main/java/io/questdb/std/Files.java
  core/src/main/java/io/questdb/std/FilesFacade.java
  core/src/main/java/io/questdb/std/FilesFacadeImpl.java
  core/src/main/resources/io/questdb/bin/armlinux/libquestdb.so
  core/src/main/resources/io/questdb/bin/freebsd/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/main/resources/io/questdb/bin/osx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
  core/src/test/java/io/questdb/FilesTest.java
  core/src/test/java/io/questdb/cairo/wal/WalWriterTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpReceiverTest.java
  core/src/test/java/io/questdb/griffin/AlterTableDropActivePartitionTest.java
Labels: Performance

#2750 fix(core): fix ignored text_loader.json configuration file
  core/src/main/java/io/questdb/cutlass/text/types/InputFormatConfiguration.java
  core/src/test/java/io/questdb/cutlass/text/types/TypeManagerTest.java
Labels: Bug, SQL, REST API

#2646 fix(sql): return error on REINDEX table with no indexed columns
  core/src/main/java/io/questdb/cairo/RebuildColumnBase.java
  core/src/test/java/io/questdb/cairo/IndexBuilderTest.java
Labels: SQL, Tidy up, Hacktoberfest

#2756 fix(core): fix segfault due to closed LogFactory instances on start-up
  benchmarks/src/main/java/org/questdb/LogBenchmark.java
  core/src/main/java/io/questdb/Bootstrap.java
  core/src/main/java/io/questdb/log/Log.java
  core/src/main/java/io/questdb/log/LogFactory.java
  core/src/main/java/io/questdb/log/Logger.java
  core/src/main/java/io/questdb/log/SyncLogger.java
  core/src/main/java/io/questdb/std/Os.java
  core/src/test/java/io/questdb/BootstrapTest.java
  core/src/test/java/io/questdb/log/LogAlertSocketTest.java
  core/src/test/java/io/questdb/log/LogFactoryTest.java
Labels: Bug, Embedded API, Core

#2785 fix(sql): make offset and timezone optional in sample-by queries
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/test/java/io/questdb/griffin/SampleBySqlParserTest.java
  core/src/test/java/io/questdb/griffin/engine/groupby/SampleByTest.java
Labels: Bug, SQL

#2798 test(http): improve failure handling
  core/src/main/java/io/questdb/cutlass/http/HttpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/http/HttpHeaderParser.java
  core/src/main/java/io/questdb/cutlass/http/HttpMultipartContentParser.java
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
  core/src/main/java/io/questdb/cutlass/http/LocalValue.java
  core/src/main/java/io/questdb/cutlass/http/WaitProcessor.java
  core/src/main/java/io/questdb/network/IODispatcherLinux.java
  core/src/main/java/io/questdb/std/WeakObjectPoolBase.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/http/RetryIODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AlterTableLineTcpReceiverTest.java
Labels: Schrödinger's bug

#2810 fix(core): fix results returned in wrong order from parallel filter query
  core/src/main/java/io/questdb/cairo/sql/RecordCursorFactory.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceJob.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceTask.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameSequence.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncJitFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/log/LogFactory.java
  core/src/main/java/io/questdb/mp/AbstractSSequence.java
  core/src/main/java/io/questdb/mp/AbstractSequence.java
  core/src/main/java/io/questdb/mp/FanOut.java
  core/src/main/java/io/questdb/mp/MCSequence.java
  core/src/main/java/io/questdb/mp/SCSequence.java
  core/src/test/java/io/questdb/mp/ConcurrentTest.java
Labels: Bug, SQL, Core
