Repository questdb/questdb, pull requests merged in 2022-12, with the labels that each got.

#2855 feat(pgwire): add support for configurable read-only user
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cutlass/pgwire/DefaultPGWireConfiguration.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGBasicAuthenticator.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireConfiguration.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/BasePGTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGMultiStatementMessageTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGSecurityTest.java
  core/src/test/java/io/questdb/griffin/SecurityTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: Enhancement, Postgres Wire

#2859 fix(sql): fix timestamp interval optimizer case sensitivity
  core/src/main/java/io/questdb/cairo/AbstractDataFrameCursorFactory.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/WhereClauseParser.java
  core/src/main/java/io/questdb/std/Chars.java
  core/src/test/java/io/questdb/griffin/WhereClauseParserTest.java
Labels: Bug, SQL, Performance

#2849 fix(sql): fix slowness due to redundant disk reads in LIMIT K,N filtered queries
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/LimitRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeSortedLightRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeSortedLightRecordCursorFactory.java
  core/src/test/java/io/questdb/griffin/LimitTest.java
  core/src/test/java/io/questdb/griffin/OrderByWithAsyncFilterTest.java
  core/src/test/java/io/questdb/griffin/OrderByWithFilterTest.java
  core/src/test/java/io/questdb/griffin/SortAndLimitTest.java
Labels: Bug, Performance

#2864 fix(core): fix partition does not exist error after partition drop
  core/src/main/java/io/questdb/cairo/TableReader.java
  core/src/test/java/io/questdb/griffin/AlterTableDropPartitionTest.java
Labels: Bug, Core

#2866 fix(http): fix unexpected query timeout errors in /exp endpoint
  core/src/main/java/io/questdb/cairo/sql/SqlExecutionCircuitBreaker.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextQueryProcessor.java
  core/src/test/java/io/questdb/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/http/RetryIODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/http/SendAndReceiveRequestBuilder.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Bug, REST API

#2880 chore(build): git blame to ignore the reformatting commit
  .git-blame-ignore-revs
Labels: CI

#2882 fix(sql): fix results when combining negative limit, column aliasing and predicate
  core/src/main/java/io/questdb/griffin/engine/table/SelectedRecordCursorFactory.java
  core/src/test/java/io/questdb/griffin/LimitTest.java
Labels: Bug, SQL

#2874 feat(pgwire): fix duplicate rows in result set when Fetch Size specified
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpMeasurementEvent.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpInsertOtherTypesTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpReceiverTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpTypeConversionTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  utils/README.md
  utils/pom.xml
  utils/src/main/java/io/questdb/cliutil/Table2Ilp.java
  utils/src/main/java/io/questdb/cliutil/Table2IlpCopier.java
  utils/src/main/java/io/questdb/cliutil/TxSerializer.java
  utils/src/test/java/io/questdb/cliutil/Table2IlpTest.java
  utils/src/test/java/io/questdb/cliutil/TestUtils.java
Labels: Bug, Postgres Wire
