Repository questdb/questdb, pull requests merged in 2022-04, with the labels that each got.

#2024 fix(ui): append query from URL param at the end of editor
  ui/src/scenes/Editor/Monaco/index.tsx
  ui/src/scenes/Editor/Monaco/utils.ts
Labels: Bug, UI

#2017 feat(sql): date_trunc() implementation
  core/src/main/java/io/questdb/griffin/engine/functions/date/DateTruncFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/TimestampFloorFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/TimestampFloorFunctions.java
  core/src/main/java/io/questdb/std/datetime/microtime/Timestamps.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/griffin/engine/functions/date/DateTruncFunctionFactoryTest.java
  core/src/test/java/io/questdb/std/datetime/microtime/TimestampsBruteForceTest.java
Labels: SQL

#2028 feat(sql): add flush_query_cache() function
  core/src/main/java/io/questdb/MessageBus.java
  core/src/main/java/io/questdb/MessageBusImpl.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/QueryCache.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGJobContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireServer.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/FlushQueryCacheFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/cutlass/http/HttpMinTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/catalogue/FlushQueryCacheTest.java
  core/src/test/resources/server.conf
Labels: Bug, New feature, SQL, Java

#2033 chore(test): remove outdated comment
  core/src/test/java/io/questdb/griffin/ReplModelReconTest.java
Labels: Documentation

#2035 chore(test): fix flaky query cache flush tests
  core/src/test/java/io/questdb/cairo/AbstractCairoTest.java
  core/src/test/java/io/questdb/cutlass/http/DispatcherWriterQueueTest.java
  core/src/test/java/io/questdb/cutlass/http/HttpFlushQueryCacheTest.java
  core/src/test/java/io/questdb/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGFlushQueryCacheTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGMultiStatementMessageTest.java
Labels: Flaky test

#2036 fix(sql): fix brace matching inside cast
  core/README.md
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/test/java/io/questdb/griffin/SqlParserTest.java
Labels: Bug, SQL

#2022 fix(cairo): fix reader reload after truncate table
  core/src/main/java/io/questdb/cairo/ColumnVersionWriter.java
  core/src/main/java/io/questdb/cairo/SymbolMapWriter.java
  core/src/main/java/io/questdb/cairo/TableReader.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/TxReader.java
  core/src/main/java/io/questdb/cairo/TxWriter.java
  core/src/main/java/io/questdb/cairo/mig/Mig620.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/test/java/io/questdb/cairo/TableReaderReloadTest.java
  core/src/test/java/io/questdb/cairo/TxnTest.java
  core/src/test/java/io/questdb/griffin/AlterTableAttachPartitionTest.java
  core/src/test/java/io/questdb/griffin/AlterTableDropPartitionTest.java
  core/src/test/java/io/questdb/griffin/SnapshotTest.java
  core/src/test/java/io/questdb/griffin/TruncateTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
  utils/src/main/java/io/questdb/cliutil/TxFileStruct.java
  utils/src/main/java/io/questdb/cliutil/TxSerializer.java
  utils/src/test/java/io/questdb/cliutil/TxSerializerTest.java
Labels: Bug, Core

#2000 Fix: ignore null literals for non nullable types
  core/src/main/java/io/questdb/cairo/sql/Function.java
  core/src/main/java/io/questdb/griffin/engine/functions/constants/NullConstant.java
  core/src/main/java/io/questdb/griffin/engine/functions/eq/EqBooleanFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/eq/EqByteFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/eq/EqShortFunctionFactory.java
  core/src/test/java/io/questdb/griffin/FunctionParserEqFunctionsNullTest.java
  core/src/test/java/io/questdb/griffin/InsertNullGeoHashTest.java
  core/src/test/java/io/questdb/griffin/InsertNullTest.java
  core/src/test/java/io/questdb/griffin/NullLiteralsTest.java
Labels: Bug, SQL

#2053 fix(sql): jit to handle sql context bind vars change
  core/src/main/java/io/questdb/griffin/engine/functions/bind/CompiledFilterSymbolBindVariable.java
  core/src/main/java/io/questdb/griffin/engine/table/CompiledFilterRecordCursor.java
  core/src/main/java/io/questdb/jit/CompiledFilterIRSerializer.java
  core/src/test/java/io/questdb/griffin/CompiledFilterTest.java
Labels: Bug, SQL

#2061 fix(pgwire) Rudimentary support for COPY FROM via pgwire
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, Postgres Wire

#2046 fix(cairo): always test the existence of a table by checking a filesystem
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/pool/WriterPool.java
  core/src/test/java/io/questdb/cairo/CairoEngineTest.java
Labels: Bug

#2085 fix(ilp): log parsing error on disconnect when disconnect on error is enabled
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpConnectionContext.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpConnectionContextBrokenUTF8Test.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpConnectionContextInvalidSymbolTest.java
  core/src/test/resources/server.conf
Labels: Bug, ILP
