Repository questdb/questdb, pull requests merged in 2022-05, with the labels that each got.

#2090 chore(sql): enable JIT compiler by default
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/cairo/AbstractCairoTest.java
  core/src/test/java/io/questdb/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/griffin/AsyncOffloadTest.java
  core/src/test/java/io/questdb/griffin/CompiledFilterTest.java
  core/src/test/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
  pkg/ami/marketplace/assets/server.conf
Labels: SQL

#2037 feat(sql): support for 'at time zone' keywords in expressions
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/engine/groupby/SampleByFirstLastRecordCursorFactory.java
  core/src/main/java/io/questdb/std/GenericLexer.java
  core/src/main/java/io/questdb/std/IntStack.java
  core/src/test/java/io/questdb/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/date/TimestampAtTimeZoneTest.java
  core/src/test/java/io/questdb/std/GenericLexerTest.java
  core/src/test/java/io/questdb/std/IntStackTest.java
Labels: New feature, SQL, Postgres Wire, Compatibility

#2101 chore(sql): add config option to disable parallel SQL filter execution
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/cairo/AbstractCairoTest.java
  core/src/test/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: SQL, Tidy up

#2096 fix(sql): consider order when checking timestamp order in metadata
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/engine/groupby/DistinctTimeSeriesRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/AsOfJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/AsOfJoinNoKeyRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/AsOfJoinRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashJoinRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashOuterJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashOuterJoinRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/LtJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/LtJoinNoKeyRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/LtJoinRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/SpliceJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/VirtualRecordCursorFactory.java
  core/src/test/java/io/questdb/griffin/AsOfJoinTest.java
  core/src/test/java/io/questdb/griffin/CreateTableAsSelectTest.java
  core/src/test/java/io/questdb/griffin/DistinctTimeSeriesTest.java
  core/src/test/java/io/questdb/griffin/DistinctWithLimitTest.java
  core/src/test/java/io/questdb/griffin/InsertTest.java
  core/src/test/java/io/questdb/griffin/JoinTest.java
  core/src/test/java/io/questdb/griffin/OrderByWithFilterTest.java
  core/src/test/java/io/questdb/griffin/SqlParserTest.java
Labels: Bug, SQL

#2087 fix(pgwire): fixed incorrect NULL type handing causing SEGFAULT in some cases
  ci/jacoco-merge.xml
  ci/templates/steps.yml
  core/pom.xml
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/RecordChain.java
  core/src/main/java/io/questdb/cutlass/http/DefaultHttpContextConfiguration.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/table/DataFrameRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/DeferredSingleSymbolFilterDataFrameRecordCursorFactory.java
  core/src/main/java/io/questdb/std/GenericLexer.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/griffin/OrderByAscRowSkippingTest.java
  core/src/test/java/io/questdb/griffin/OrderByDescRowSkippingTest.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/griffin/engine/table/DataFrameRecordCursorFactoryTest.java
  core/src/test/java/io/questdb/log/LogFactoryTest.java
  pom.xml
Labels: Bug, Postgres Wire, REST API

#2091 chore(sql): prevent false sharing in avg vector functions
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/AvgDoubleVectorAggregateFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/AvgIntVectorAggregateFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/AvgLongVectorAggregateFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/KSumDoubleVectorAggregateFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/NSumDoubleVectorAggregateFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/SumDoubleVectorAggregateFunction.java
Labels: Performance, Java, Tidy up

#2099 feat(sql): added support for standard deviation (sample) aggregate function
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevSampleDoubleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevSampleDoubleGroupByFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/griffin/engine/functions/groupby/AvgDoubleGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/groupby/StdDevSampleGroupByFunctionFactoryTest.java
Labels: Enhancement, SQL

#2097 fix(test): add missing wait to flaky flush query cache tests
  core/src/test/java/io/questdb/cutlass/http/HttpFlushQueryCacheTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGFlushQueryCacheTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Flaky test

#2124 fix(sql): eliminate reduce counter race in page frame sequence used by parallel filters
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceJob.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameSequence.java
Labels: Bug, SQL

#2042 feat(sql): implementation of `extract(part from timestamp)` function
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/DateTruncFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/DayOfMonthFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/ExtractFromTimestampFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/HourOfDayFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/MicrosOfSecondFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/MinuteOfHourFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/MonthOfYearFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/SecondOfMinuteFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/YearFunctionFactory.java
  core/src/main/java/io/questdb/std/datetime/microtime/GenericTimestampFormat.java
  core/src/main/java/io/questdb/std/datetime/microtime/TimestampFormatCompiler.java
  core/src/main/java/io/questdb/std/datetime/microtime/TimestampFormatUtils.java
  core/src/main/java/io/questdb/std/datetime/microtime/Timestamps.java
  core/src/main/java/io/questdb/std/datetime/millitime/DateFormatUtils.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/griffin/engine/functions/date/ExtractFunctionTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/date/MicrosOfSecondFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/date/MinuteFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/date/MonthOfYearFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/date/SecondOfMinuteFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/date/YearFunctionFactoryTest.java
  core/src/test/java/io/questdb/std/datetime/microtime/TimestampFormatCompilerTest.java
  core/src/test/java/io/questdb/std/datetime/millitime/DateFormatCompilerTest.java
Labels: New feature, SQL, Postgres Wire, Compatibility

#2115 feat(http): supports wrapping large numbers into strings to avoid overflow
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/resources/io/questdb/cutlass/http/IODispatcherTest.testJsonQueryWithCompressedResults2.bin
  ui/src/utils/questdb.ts
Labels: Bug, REST API

#2131 fix(pgwire): Fix initial connection properties parser
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGSecurityTest.java
Labels: Bug, Postgres Wire

#2134 fix(sql): fix uncommon potential race in parallel filter execution
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameSequence.java
Labels: Bug, SQL

#2140 chore(sql): added test with asymmetric pools
  core/src/main/java/io/questdb/cairo/sql/PageAddressCacheRecord.java
  core/src/test/java/io/questdb/EmbeddedApiTest.java
  core/src/test/java/io/questdb/cairo/FullFwdDataFrameCursorTest.java
  core/src/test/java/io/questdb/cutlass/http/HttpHealthCheckTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/HttpMinTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AbstractLineTcpReceiverFuzzTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AbstractLineTcpReceiverTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/BaseLineTcpContextTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/BasePGTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/griffin/AbstractO3Test.java
  core/src/test/java/io/questdb/griffin/AsyncOffloadTest.java
  core/src/test/java/io/questdb/griffin/LatestByParallelTest.java
  core/src/test/java/io/questdb/griffin/O3FailureTest.java
  core/src/test/java/io/questdb/griffin/O3Test.java
  core/src/test/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
  core/src/test/java/io/questdb/mp/TestWorkerPool.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Tidy up

#2142 feat(sql): sql command to reindex symbol column
  core/src/main/java/io/questdb/cairo/RebuildColumnBase.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/test/java/io/questdb/cairo/IndexBuilderTest.java
  core/src/test/java/io/questdb/griffin/SqlCompilerTest.java
Labels: New feature, SQL

#2149 feat: when PR title validation fails, display what types are available
  ci/dangerfile.js
Labels: CI

#2169 fix(jit): AVX to SSE downgrade for scalar mode
  core/src/main/c/share/jit/impl/x86.h
  core/src/main/c/share/jit/x86.h
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/main/resources/io/questdb/bin/osx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
Labels: Bug, SQL

#2154 fix(core): move parallel execution jobs registration out of http server
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
Labels: Bug, Core

#2174 fix(sql): use xxhash hash algorithm to improve join performance
  benchmarks/src/main/java/org/questdb/QMapReadRandomKeyBenchmark.java
  benchmarks/src/main/java/org/questdb/QMapReadSequentialKeyBenchmark.java
  core/src/main/java/io/questdb/cairo/map/CompactMap.java
  core/src/main/java/io/questdb/cairo/map/FastMap.java
  core/src/main/java/io/questdb/cairo/vm/AbstractMemoryCR.java
  core/src/main/java/io/questdb/cairo/vm/MemoryPARWImpl.java
  core/src/main/java/io/questdb/cairo/vm/NullMemoryMR.java
  core/src/main/java/io/questdb/cairo/vm/api/MemoryR.java
  core/src/main/java/io/questdb/cairo/vm/api/NullMemory.java
  core/src/main/java/io/questdb/std/Hash.java
  core/src/test/java/io/questdb/HashTest.java
  core/src/test/java/io/questdb/cairo/map/CompactMapTest.java
Labels: Enhancement, SQL, Performance
