Repository questdb/questdb, pull requests merged in 2022-01, with the labels that each got.

#1755 chore(std): add tests for SimpleReadWriteLock
  core/src/main/java/io/questdb/std/SimpleReadWriteLock.java
  core/src/test/java/io/questdb/std/SimpleReadWriteLockTest.java
Labels: Tidy up

#1747 fix(sql): fix latest by with subquery in filter
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/functions/bool/InSymbolCursorFunctionFactory.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
Labels: Bug, SQL

#1774 fix(sql): apply filter before latest by when index is present
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByAllIndexedFilteredAfterRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByAllIndexedRecordCursorFactory.java
  core/src/test/java/io/questdb/griffin/LatestByParallelTest.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/griffin/engine/table/LatestByAllIndexedFilteredAfterRecordCursorTest.java
  core/src/test/java/io/questdb/griffin/engine/table/LatestByAllIndexedFilteredBeforeRecordCursorTest.java
  core/src/test/java/io/questdb/griffin/engine/table/LatestByAllIndexedFilteredRecordCursorTest.java
Labels: SQL, Java, Tidy up

#1793 chore(ui): update package-lock.json
  ui/package-lock.json
Labels: Dependencies, UI

#1796 fix(sql): support latest by over sub-query
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/engine/groupby/DistinctRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/orderby/SortedLightRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/CompiledFilterRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByRecordCursorFactory.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/conditional/CoalesceFunctionFactoryTest.java
Labels: New feature, SQL, Java

#1811 fix(cairo): fix scoreboard race for new table readers
  core/src/main/c/share/txn_board.cpp
  core/src/main/java/io/questdb/cairo/TxnScoreboard.java
  core/src/test/java/io/questdb/cutlass/http/RetryIODispatcherTest.java
Labels: Bug, Flaky test

#1814 fix(test): fix flaky JSON insert query on locked writer test
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryMetrics.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/metrics/Counter.java
  core/src/main/java/io/questdb/metrics/CounterImpl.java
  core/src/main/java/io/questdb/metrics/NullCounter.java
  core/src/test/java/io/questdb/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/RetryIODispatcherTest.java
Labels: Flaky test

#1816 fix(sql): support timestamp formats used by python drivers
  core/src/main/java/io/questdb/griffin/engine/functions/date/ToTimestampFunctionFactory.java
  core/src/main/java/io/questdb/std/datetime/microtime/TimestampFormatUtils.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, SQL

#1833 fix(pgwire): improve performance of PG wire by avoiding needlessly calling `recv()` that does not receive anything
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cutlass/pgwire/DefaultPGWireConfiguration.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireConfiguration.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  pkg/ami/marketplace/assets/server.conf
Labels: Postgres Wire, Tidy up

#1825 fix(pgwire): fix NPE for prepared statements with filters on indexed column
  core/src/main/java/io/questdb/WorkerPoolAwareConfiguration.java
  core/src/main/java/io/questdb/griffin/FunctionParser.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/WhereClauseParser.java
  core/src/main/java/io/questdb/griffin/engine/functions/bool/InSymbolFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AbstractDeferredTreeSetRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AbstractDeferredValueRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/DeferredSingleSymbolFilterDataFrameRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestBySubQueryRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueDeferredFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueDeferredIndexedFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueDeferredIndexedRowCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValuesFilteredRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValuesFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValuesIndexedFilteredRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValuesIndexedFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValuesIndexedRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValuesRecordCursor.java
  core/src/main/java/io/questdb/griffin/model/IntrinsicModel.java
  core/src/main/java/io/questdb/griffin/model/RuntimeIntervalModel.java
  core/src/main/java/io/questdb/griffin/model/RuntimeIntervalModelBuilder.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/griffin/AbstractGriffinTest.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/griffin/SymbolNotEqualsValueTest.java
  core/src/test/java/io/questdb/griffin/TimestampQueryTest.java
  core/src/test/java/io/questdb/griffin/WhereClauseParserTest.java
Labels: Bug, Postgres Wire

#1837 chore(ilp): remove agressive ILP TCP read retry mode
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cutlass/line/tcp/AggressiveRecvLineTcpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/line/tcp/DefaultLineTcpReceiverConfiguration.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpReceiver.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpReceiverConfiguration.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AbstractLineTcpReceiverTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpReceiverTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: ILP, Tidy up

#1836 feat(http): add flag to report JIT compilation status in REST API
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/test/java/io/questdb/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
Labels: Enhancement, REST API

#1834 chore(ci): fixed Javadoc errors and included javadoc compilation into CI
  core/pom.xml
  core/src/main/java/io/questdb/cairo/FullBwdDataFrameCursor.java
  core/src/main/java/io/questdb/cairo/FullFwdDataFrameCursor.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TxReader.java
  core/src/main/java/io/questdb/cairo/pool/WriterPool.java
  core/src/main/java/io/questdb/cairo/sql/BindVariableService.java
  core/src/main/java/io/questdb/cairo/sql/DataFrameCursor.java
  core/src/main/java/io/questdb/cairo/sql/DataFrameCursorFactory.java
  core/src/main/java/io/questdb/cairo/sql/RecordCursor.java
  core/src/main/java/io/questdb/cairo/sql/RecordCursorFactory.java
  core/src/main/java/io/questdb/cairo/sql/RowCursor.java
  core/src/main/java/io/questdb/griffin/CompiledQuery.java
  core/src/main/java/io/questdb/griffin/PostOrderTreeTraversalAlgo.java
  core/src/main/java/io/questdb/griffin/engine/LimitRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeLongTreeChain.java
  core/src/main/java/io/questdb/griffin/engine/table/DataFrameRecordCursor.java
  core/src/main/java/io/questdb/jit/CompiledFilterIRSerializer.java
  core/src/main/java/io/questdb/std/Unsafe.java
Labels: Bug, Documentation

#1839 feat(sql): New syntax 'drop table if exists table-name' to not fail when the table does not exist
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/griffin/DropTableTest.java
Labels: Enhancement, SQL
