Repository questdb/questdb, pull requests merged in 2022-08, with the labels that each got.

#2347 chore(sql): parallel and serial import behaviour unification
  core/src/main/java/io/questdb/cutlass/http/processors/TextImportProcessor.java
  core/src/main/java/io/questdb/cutlass/text/CairoTextWriter.java
  core/src/main/java/io/questdb/cutlass/text/CsvFileIndexer.java
  core/src/main/java/io/questdb/cutlass/text/ParallelCsvFileImporter.java
  core/src/main/java/io/questdb/cutlass/text/SerialCsvFileImporter.java
  core/src/main/java/io/questdb/cutlass/text/TextImportExecutionContext.java
  core/src/main/java/io/questdb/cutlass/text/TextImportJob.java
  core/src/main/java/io/questdb/cutlass/text/TextImportRequestJob.java
  core/src/main/java/io/questdb/cutlass/text/TextImportRequestTask.java
  core/src/main/java/io/questdb/cutlass/text/TextImportTask.java
  core/src/main/java/io/questdb/cutlass/text/TextLoader.java
  core/src/main/java/io/questdb/cutlass/text/TextLoaderBase.java
  core/src/main/java/io/questdb/cutlass/text/TextMetadataDetector.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/engine/ops/CopyFactory.java
  core/src/main/java/io/questdb/griffin/model/CopyModel.java
  core/src/main/java/io/questdb/std/MemoryTag.java
  core/src/test/java/io/questdb/cairo/AbstractCairoTest.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGSecurityTest.java
  core/src/test/java/io/questdb/cutlass/text/CsvFileIndexerTest.java
  core/src/test/java/io/questdb/cutlass/text/ParallelCsvFileImporterTest.java
  core/src/test/java/io/questdb/cutlass/text/TextLoaderTest.java
  core/src/test/java/io/questdb/griffin/CopyTest.java
  core/src/test/java/io/questdb/griffin/SecurityTest.java
  core/src/test/java/io/questdb/std/IntObjHashMapTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: SQL, Compatibility

#2392 feat(core): use all available cores by default
  core/src/main/java/io/questdb/PropServerConfiguration.java
Labels: Enhancement, Core

#2394 chore(core): fix spare cores branches
  core/src/main/java/io/questdb/PropServerConfiguration.java
Labels: Tidy up

#2385 fix(pgwire): fix spurious error when executing "create table" SQL from Rust
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireServer.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/engine/ops/CopyFactory.java
  core/src/main/java/io/questdb/std/datetime/millitime/DateFormatUtils.java
  core/src/test/java/io/questdb/cairo/AbstractCairoTest.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/cutlass/text/ParallelCsvFileImporterTest.java
  core/src/test/java/io/questdb/griffin/CopyTest.java
  core/src/test/java/io/questdb/griffin/SecurityTest.java
Labels: Bug, SQL

#2400 chore(sql): improve COPY log messages
  core/src/main/java/io/questdb/cutlass/text/ParallelCsvFileImporter.java
  core/src/main/java/io/questdb/cutlass/text/SerialCsvFileImporter.java
  core/src/main/java/io/questdb/cutlass/text/TextImportRequestJob.java
  core/src/main/java/io/questdb/griffin/engine/ops/CopyFactory.java
  core/src/main/java/io/questdb/log/LogRecord.java
  core/src/main/java/io/questdb/log/Logger.java
  core/src/main/java/io/questdb/log/NullLogRecord.java
  core/src/main/java/io/questdb/log/SyncLogger.java
  core/src/test/java/io/questdb/log/LogAlertSocketTest.java
Labels: SQL, Tidy up

#2401 fix(sql): inconsistency in worker count configuration for asynchronous filters
  core/src/main/java/io/questdb/WorkerPoolAwareConfiguration.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameSequence.java
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireServer.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContext.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContextImpl.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/DataFrameRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByAllIndexedRecordCursor.java
  core/src/test/java/io/questdb/cutlass/line/udp/LinuxLineUdpProtoReceiverTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
Labels: Bug, SQL

#2412 fix(sql): fix case sensivity for certain keywords
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/test/java/io/questdb/griffin/CopyTest.java
Labels: Bug, SQL

#2413 test(sql): fix flaky copy test
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Flaky Test

#2431 chore(core): decrease default SQL cache and O3 memory sizes
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cutlass/http/DefaultHttpServerConfiguration.java
  core/src/main/java/io/questdb/cutlass/pgwire/DefaultPGWireConfiguration.java
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
Labels: SQL, ILP

#2429 fix(sql): fix null returned from min() on int/long/date/ts column with max values only
  core/src/main/c/share/vec_agg.cpp
  core/src/main/c/share/vec_agg_vanilla.cpp
  core/src/main/c/share/vec_int_key_agg.cpp
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/MinIntGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/MinLongGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/MinDateVectorAggregateFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/MinIntVectorAggregateFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/MinLongVectorAggregateFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/MinTimestampVectorAggregateFunction.java
  core/src/main/resources/io/questdb/bin/armlinux/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/main/resources/io/questdb/bin/osx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
  core/src/test/java/io/questdb/griffin/engine/functions/groupby/MinDateVecGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/groupby/MinIntGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/groupby/MinIntVecGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/groupby/MinLongGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/groupby/MinLongVecGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/groupby/MinTimestampVecGroupByFunctionFactoryTest.java
Labels: Bug, SQL

#2443 fix(http): fix missing VACUUM and LOCK/UNLOCK statements support
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/griffin/CompiledQuery.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
Labels: Bug, REST API

#2448 fix(sql): fix potential resource leak in non-keyed sample by with filter
  core/src/main/java/io/questdb/griffin/engine/groupby/AbstractSampleByNotKeyedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredNegativeLimitRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursor.java
  core/src/test/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
Labels: Bug, SQL, Core

#2451 fix(sql): fix order by desc with async filter
  core/src/main/java/io/questdb/cairo/sql/DataFrameCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncJitFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/DataFrameRecordCursorFactory.java
  core/src/test/java/io/questdb/griffin/AsyncOffloadTest.java
  core/src/test/java/io/questdb/griffin/OrderByWithAsyncFilterTest.java
Labels: Bug, SQL

#2467 fix(core): table writer lock/unlock consults CairoSecurityContext
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/test/java/io/questdb/cairo/CairoEngineTest.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGSecurityTest.java
  core/src/test/java/io/questdb/griffin/AlterSystemLockUnlockWriterTest.java
Labels: Bug, Core

#2469 chore(core): freebsd binary
  core/src/main/resources/io/questdb/bin/freebsd/libquestdb.so
Labels: CI, Tidy up

#2473 fix(sql): release on-heap memory when analytic queries are returned to cache
  core/src/main/java/io/questdb/griffin/engine/functions/GroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIntGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctLongGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountLong256GroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountStringGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountSymbolGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StringAggGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/AbstractNoRecordSampleByCursor.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByNotKeyedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/SampleByInterpolateRecordCursorFactory.java
  core/src/main/java/io/questdb/std/Misc.java
  core/src/main/java/io/questdb/std/str/DirectCharSink.java
  core/src/test/java/io/questdb/std/str/DirectCharSinkTest.java
Labels: Bug, SQL, Performance

#2481 chore(core): removed "cairo.detach.root" config property
  core/pom.xml
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cutlass/text/ParallelCsvFileImporter.java
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/cairo/AbstractCairoTest.java
  core/src/test/java/io/questdb/cutlass/text/CairoConfigurationWrapper.java
  core/src/test/java/io/questdb/griffin/AlterTableAttachPartitionTest.java
  core/src/test/java/io/questdb/griffin/AlterTableDetachPartitionTest.java
Labels: Tidy up, Core
