Repository questdb/questdb, pull requests merged in 2022-02, with the labels that each got.

#1848 chore(test): add more assertions to retry insertion test
  core/src/test/java/io/questdb/cutlass/http/RetryIODispatcherTest.java
Labels: Flaky test

#1838 fix(sql): fix not equals filter on indexed symbol column
  core/src/main/java/io/questdb/griffin/engine/table/FilterOnExcludedValuesRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/SymbolFunctionRowCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/SymbolIndexFilteredRowCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/SymbolIndexRowCursorFactory.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
Labels: Bug, SQL

#1835 chore(ci): split ci test runs
  ci/coverage.sh
  ci/jacoco-merge.xml
  ci/new-pull-request.yml
  ci/templates/check-changes-job.yml
  ci/templates/hosted-cover-jobs.yml
  ci/templates/hosted-jobs.yml
  ci/templates/self-hosted-jobs.yml
  ci/templates/steps.yml
  ci/test-pipeline.yml
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpWriterJob.java
  core/src/main/java/io/questdb/griffin/model/RuntimeIntervalModel.java
Labels: CI

#1850 chore(sql): reject latest by table queries over non-designated timestamp
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/griffin/SimulatedDeleteTest.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/griffin/engine/groupby/SampleByTest.java
Labels: SQL, Tidy up

#1844 fix(sql): partitioning without designated timestamp should not be possible
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/test/java/io/questdb/griffin/InsertTest.java
  core/src/test/java/io/questdb/griffin/NoopGroupByTest.java
  core/src/test/java/io/questdb/griffin/O3CommitLagTest.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/griffin/SqlCompilerTest.java
  core/src/test/java/io/questdb/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/griffin/TrickTableReloadTest.java
  core/src/test/java/io/questdb/griffin/UnionTest.java
  core/src/test/java/io/questdb/griffin/engine/functions/groupby/CountLong256GroupByFunctionFactoryTest.java
Labels: Bug, SQL

#1874 chore(test): add random seed logging to ILP fuzzer
  core/src/test/java/io/questdb/cutlass/line/tcp/AbstractLineTcpReceiverFuzzTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpCommitTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpReceiverFuzzTest.java
  core/src/test/java/io/questdb/std/DirectLongListTest.java
Labels: Tidy up

#1905 fix(sql): fix order by aliased column positions
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/griffin/SqlParserTest.java
Labels: Bug, SQL
