Repository questdb/questdb, pull requests merged in 2023-09, with the labels that each got.

#3709 fix(core): fix unaligned msync address when merging split partitions
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/frm/file/ContiguousFileFixFrameColumn.java
  core/src/main/java/io/questdb/cairo/frm/file/ContiguousFileVarFrameColumn.java
  core/src/test/java/io/questdb/test/griffin/AbstractO3Test.java
  core/src/test/java/io/questdb/test/griffin/O3FailureFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/O3SplitPartitionTest.java
Labels: Bug, Core

#3714 chore(core): readd StringSink#lastIndexOf() methods
  core/src/main/java/io/questdb/std/Chars.java
  core/src/main/java/io/questdb/std/str/StringSink.java
  core/src/test/java/io/questdb/test/std/StringSinkTest.java
Labels: tandem

#3722 chore(core): remove the isSelectCacheable() flag
  core/src/main/java/io/questdb/cairo/sql/RecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/test/java/io/questdb/test/griffin/SqlCompilerImplTest.java
Labels: Java, Core

#3725 fix(core): improve query cache efficiency in PGWire and HTTP
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cutlass/Services.java
  core/src/main/java/io/questdb/cutlass/http/HttpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryMetrics.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/main/java/io/questdb/cutlass/http/processors/QueryCache.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextQueryProcessorState.java
  core/src/main/java/io/questdb/cutlass/pgwire/DefaultPGWireConfiguration.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGJobContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireConfiguration.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireMetrics.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireServer.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/FlushQueryCacheFunctionFactory.java
  core/src/main/java/io/questdb/metrics/CounterImpl.java
  core/src/main/java/io/questdb/metrics/NullCounter.java
  core/src/main/java/io/questdb/std/AssociativeCache.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpFlushQueryCacheTest.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpHealthCheckTestBuilder.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpMinTestBuilder.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGFlushQueryCacheTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/FlushQueryCacheTest.java
  core/src/test/java/io/questdb/test/std/AssociativeCacheTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: Performance, Postgres Wire, REST API

#3735 chore(http): allow reusing same connection in HttpClient
  core/src/main/java/io/questdb/cutlass/http/client/HttpClient.java
  core/src/main/java/io/questdb/cutlass/http/client/HttpClientOsx.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/http/TestHttpClient.java
Labels: Tidy up, tandem

#3742 chore(core): add admin action security check
  core/src/main/java/io/questdb/cairo/SecurityContext.java
  core/src/main/java/io/questdb/cairo/security/AllowAllSecurityContext.java
  core/src/main/java/io/questdb/cairo/security/DenyAllSecurityContext.java
  core/src/main/java/io/questdb/cairo/security/ReadOnlySecurityContext.java
  core/src/main/java/io/questdb/cairo/security/SecurityContextFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/CurrentUserFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/DumpThreadStacksFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/SessionUserFunctionFactory.java
  core/src/test/java/io/questdb/test/cairo/SecurityContextTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGSecurityTest.java
Labels: Security, tandem

#3732 fix(http): http min works even when the main http server is disabled
  core/src/main/java/io/questdb/DefaultFactoryProvider.java
  core/src/main/java/io/questdb/FactoryProvider.java
  core/src/main/java/io/questdb/FactoryProviderImpl.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cutlass/Services.java
  core/src/main/java/io/questdb/cutlass/http/HttpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpMinBootstrapTest.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpMinTestBuilder.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpQueryTestBuilder.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
Labels: Bug, REST API, Java, tandem

#3758 fix(ilp): ILP disconnects on error with WAL tables
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpMeasurementScheduler.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpBootstrapTest.java
Labels: Bug, Java, ILP, WAL

#3753 chore(sql): base64 url decode into DirectByteCharSink
  core/src/main/java/io/questdb/std/Chars.java
  core/src/test/java/io/questdb/test/std/CharsTest.java
Labels: tandem

#3751 fix(pgwire): fix pg-wire protocol errors caused by network IO fragmentation
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cutlass/pgwire/DefaultPGWireConfiguration.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireConfiguration.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/BasePGTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, Postgres Wire

#3765 chore(core): refactor core to support grant assume command
  core/src/main/java/io/questdb/cairo/SecurityContext.java
  core/src/main/java/io/questdb/cairo/security/AllowAllSecurityContext.java
  core/src/main/java/io/questdb/cairo/security/ReadOnlySecurityContext.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/main/java/io/questdb/std/CharSequenceBoolHashMap.java
  core/src/main/java/io/questdb/std/Chars.java
  core/src/test/java/io/questdb/test/cairo/SecurityContextTest.java
  core/src/test/java/io/questdb/test/std/CharSequenceBoolHashMapTest.java
Labels: tandem

#3774 fix(sql): fix error on trailing semicolon in ALTER TABLE RESUME WAL
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/test/java/io/questdb/test/griffin/wal/WalTableFailureTest.java
Labels: Bug, SQL

#3770 feat(sql): add variance built-in functions
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/AbstractStdDevGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevPopGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevPopGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevSampleDoubleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevSampleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevSampleGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarPopGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarPopGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarSampleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarSampleGroupByFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/VarGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/VarPopGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/VarSampleGroupByFunctionFactoryTest.java
Labels: New feature, SQL

#3785 fix(core): fix race leading to occasionally frozen WAL transaction processing on some tables
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/wal/seq/SeqTxnTracker.java
  core/src/test/java/io/questdb/test/cairo/wal/seq/SeqTxnTrackerTest.java
Labels: Bug, Core, WAL

#3784 docs(core): fix contributors badge in readme
  README.md
  i18n/README.es-es.md
  i18n/README.hn-in.md
  i18n/README.it-it.md
  i18n/README.ja-ja.md
  i18n/README.pt.md
  i18n/README.tr-tr.md
  i18n/README.ua-ua.md
Labels: Documentation

#3768 fix(sql): fix wrong results returned from union queries with similar joins
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/WhereClauseParser.java
  core/src/main/java/io/questdb/griffin/engine/union/IntersectRecordCursor.java
  core/src/main/java/io/questdb/griffin/model/JoinContext.java
  core/src/main/java/io/questdb/griffin/model/RuntimeIntervalModel.java
  core/src/main/java/io/questdb/griffin/model/RuntimeIntervalModelBuilder.java
  core/src/test/java/io/questdb/test/griffin/JoinTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
Labels: Bug, SQL
