Repository questdb/questdb, pull requests merged in 2023-04, with the labels that each got.

#3149 fix(core): fix no partition error after truncate and rollback
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/mp/SOCountDownLatch.java
  core/src/test/java/io/questdb/test/ServerMainForeignTableTest.java
  core/src/test/java/io/questdb/test/cutlass/text/CairoConfigurationWrapper.java
Labels: Bug, Core

#3143 fix(core): release extra O3 memory after WAL apply
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/vm/MemoryCARWImpl.java
  core/src/main/java/io/questdb/cairo/vm/MemoryCMARWImpl.java
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
Labels: Performance, Core

#3153 fix(sql): fix infinite loop in count_distinct on UUID column
  core/src/main/java/io/questdb/std/LongLongHashSet.java
  core/src/test/java/io/questdb/test/std/LongLongHashSetTest.java
Labels: Bug, SQL

#3151 feat(wal): optimise WAL lag application in case data in order
  core/src/main/c/share/ooo.cpp
  core/src/main/java/io/questdb/cairo/O3PartitionJob.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/resources/io/questdb/bin/armlinux/libquestdb.so
  core/src/main/resources/io/questdb/bin/armosx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/freebsd/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/main/resources/io/questdb/bin/osx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
  core/src/test/java/io/questdb/test/EmbeddedApiTest.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/griffin/O3FailureTest.java
  core/src/test/java/io/questdb/test/griffin/O3MaxLagTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalTableSqlTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalTelemetryTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/wal/fuzz/FuzzTransactionGenerator.java
  core/src/test/java/io/questdb/test/std/DirectLongListTest.java
  core/src/test/java/io/questdb/test/std/VectTest.java
  core/src/test/resources/server.conf
Labels: Core

#3172 chore(http): unify error logging in JSON and text processors
  core/src/main/java/io/questdb/Bootstrap.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextQueryProcessor.java
Labels: REST API, Tidy up

#3175 fix(http): fix unhandled error when importing CSV to table with dropped and recreated columns
  core/src/main/java/io/questdb/cairo/GenericRecordMetadata.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextImportProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextImportProcessorState.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextLoaderCompletedState.java
  core/src/main/java/io/questdb/cutlass/text/CairoTextWriter.java
  core/src/main/java/io/questdb/cutlass/text/ParallelCsvFileImporter.java
  core/src/main/java/io/questdb/cutlass/text/TextImportTask.java
  core/src/test/java/io/questdb/test/cairo/GenericRecordMetadataTest.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/text/ParallelCsvFileImporterTest.java
  core/src/test/java/io/questdb/test/cutlass/text/TextLoaderTest.java
  core/src/test/java/io/questdb/test/griffin/O3FailureTest.java
Labels: Bug, SQL, REST API

#3075 feat(sql): provide way to keep symbol tables on table truncate
  benchmarks/src/main/java/org/questdb/TableReaderReloadBenchmark.java
  core/src/main/java/io/questdb/cairo/ColumnPurgeJob.java
  core/src/main/java/io/questdb/cairo/SymbolMapWriter.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/TableWriterAPI.java
  core/src/main/java/io/questdb/cairo/TxReader.java
  core/src/main/java/io/questdb/cairo/TxWriter.java
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/test/java/io/questdb/test/cairo/FullFwdDataFrameCursorTest.java
  core/src/test/java/io/questdb/test/cairo/TableReaderReloadTest.java
  core/src/test/java/io/questdb/test/cairo/TableWriterTest.java
  core/src/test/java/io/questdb/test/cairo/TxnTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalWriterTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpReceiverTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/SymbolCacheTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableDetachPartitionTest.java
  core/src/test/java/io/questdb/test/griffin/O3Test.java
  core/src/test/java/io/questdb/test/griffin/TruncateTest.java
  core/src/test/java/io/questdb/test/griffin/wal/fuzz/FuzzTransactionGenerator.java
  core/src/test/java/io/questdb/test/griffin/wal/fuzz/FuzzTruncateTableOperation.java
Labels: Bug, SQL

#3206 test(core): reduce the chances of fuzz test timing out
  core/src/test/java/io/questdb/test/griffin/wal/fuzz/FuzzTransactionGenerator.java
Labels: Schrödinger's bug

#3184 test(sql): fix flaky O3FailureTest.testOutOfFileHandles
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/test/java/io/questdb/test/griffin/O3FailureTest.java
Labels: Schrödinger's bug

#3236 fix(core): fix rollback failure
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/vm/MemoryCMARWImpl.java
  core/src/test/java/io/questdb/test/cairo/vm/ContinuousMemoryMTest.java
  core/src/test/java/io/questdb/test/griffin/O3FailureTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
Labels: Bug, Core

#3246 test(core): get rid of O(n^2) check in WAL writer fuzz tests
  core/src/test/java/io/questdb/test/tools/TestUtils.java
  core/src/test/java/io/questdb/test/tools/TestUtilsTest.java
Labels: Schrödinger's bug

#3209 chore(core): allow implicit cast from str to long256
  core/src/main/java/io/questdb/cairo/ColumnType.java
  core/src/main/java/io/questdb/griffin/RecordToRowCopierUtils.java
  core/src/main/java/io/questdb/griffin/SqlUtil.java
  core/src/main/java/io/questdb/griffin/engine/functions/constants/Long256Constant.java
  core/src/main/java/io/questdb/griffin/engine/functions/constants/Long256NullConstant.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/FunctionParserErrorTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCompilerTest.java
  core/src/test/java/io/questdb/test/griffin/SqlUtilTest.java
Labels: Bug

#3263 fix(pgwire): revert reported pg server version back to 11.3
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, Postgres Wire

#3266 fix(core): fix index miss values or contain duplicates in certain commit patterns
  core/src/main/java/io/questdb/cairo/BitmapIndexWriter.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/test/java/io/questdb/test/griffin/O3MaxLagTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
  utils/src/test/java/io/questdb/cliutil/TestUtils.java
Labels: Bug, Core

#3271 chore(http): use dedicated thread for healthchecks and metrics by default
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/resources/server.conf
Labels: REST API, Compatibility, Tidy up

#3272 fix(core): fix symbol index containing duplicates references
  core/src/main/java/io/questdb/cairo/BitmapIndexWriter.java
  core/src/main/java/io/questdb/cairo/O3CopyJob.java
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
Labels: Bug, Core
