Repository questdb/questdb, pull requests merged in 2023-06, with the labels that each got.

#3422 fix(sql): fix AssertionError in SAMPLE BY and GROUP BY queries over symbol columns
  core/src/main/java/io/questdb/cairo/sql/RecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/functions/bind/CompiledFilterSymbolBindVariable.java
  core/src/main/java/io/questdb/griffin/engine/functions/columns/SymbolColumn.java
  core/src/main/java/io/questdb/griffin/engine/functions/constants/SymbolConstant.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstSymbolGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/table/DeferredSingleSymbolFilterDataFrameRecordCursorFactory.java
  core/src/test/java/io/questdb/test/griffin/GroupByTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
Labels: Bug, SQL

#3444 fix(http): fix case sensivity in duplicate column validation of CSV import
  core/src/main/java/io/questdb/cutlass/text/TextMetadataDetector.java
  core/src/test/java/io/questdb/test/cutlass/text/ParallelCsvFileImporterTest.java
  core/src/test/java/io/questdb/test/cutlass/text/TextLoaderTest.java
  core/src/test/resources/csv/test-header-dupvalues-differentcase.csv
  core/src/test/resources/csv/test-noheader-dupvalues-differentcase.csv
Labels: Bug, REST API

#3458 feat(sql): add string comparison operator
  core/src/main/java/io/questdb/griffin/engine/functions/eq/EqStrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/lt/LtCharFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/lt/LtStrFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/lt/LtStrFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
Labels: Bug, Enhancement, SQL

#3328 feat(sql): support squashing partitions using SQL
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cairo/AttachDetachStatus.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/frm/FrameColumnTypePool.java
  core/src/main/java/io/questdb/cairo/frm/file/ContiguousFileColumnPool.java
  core/src/main/java/io/questdb/cairo/frm/file/ContiguousFileFixFrameColumn.java
  core/src/main/java/io/questdb/cairo/frm/file/ContiguousFileIndexedFrameColumn.java
  core/src/main/java/io/questdb/cairo/frm/file/ContiguousFileVarFrameColumn.java
  core/src/main/java/io/questdb/cairo/frm/file/PartitionFrame.java
  core/src/main/java/io/questdb/cairo/frm/file/PartitionFrameFactory.java
  core/src/main/java/io/questdb/cairo/wal/MetadataService.java
  core/src/main/java/io/questdb/cairo/wal/seq/MetadataServiceStub.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/main/java/io/questdb/griffin/engine/ops/AlterOperation.java
  core/src/main/java/io/questdb/griffin/engine/ops/AlterOperationBuilder.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpAlterTableTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableAddColumnTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableAlterColumnTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableDetachPartitionTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableDropColumnTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableO3MaxLagTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableRenameColumnTest.java
  core/src/test/java/io/questdb/test/griffin/FrameAppendFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/O3SquashPartitionTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalTableFailureTest.java
Labels: Enhancement

#3485 fix(pgwire): gracefully handle a client disconnecting during authentication
  core/src/main/java/io/questdb/cutlass/pgwire/CleartextPasswordPgWireAuthenticator.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/BasePGTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, Postgres Wire

#3490 fix(sql): fix thread and reader leak on invalid filter in WHERE clause
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameSequence.java
  core/src/test/java/io/questdb/test/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
Labels: Bug, SQL

#3492 chore(core): consider mixed I/O setting when applying WAL segments and merging split partitions
  core/src/main/java/io/questdb/cairo/O3OpenColumnJob.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/frm/file/ContiguousFileColumnPool.java
  core/src/main/java/io/questdb/cairo/frm/file/ContiguousFileFixFrameColumn.java
  core/src/main/java/io/questdb/cairo/frm/file/ContiguousFileVarFrameColumn.java
  core/src/main/java/io/questdb/cutlass/text/CopyTask.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/griffin/O3SquashPartitionTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Tidy up, Core

#3521 fix(sql): fix latest by factories not reacting to bind variable value change
  core/src/main/java/io/questdb/griffin/engine/table/AbstractDeferredValueRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AbstractLatestByValueRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueDeferredFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueDeferredIndexedFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueFilteredRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueIndexedFilteredRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueRecordCursor.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, SQL
