Repository questdb/questdb, pull requests merged in 2023-11, with the labels that each got.

#3903 feat(sql): add math exp function
  core/src/main/java/io/questdb/griffin/engine/functions/math/ExpDoubleFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/ExpDoubleFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/ExpFunctionFactoryTest.java
Labels: Enhancement, SQL

#3899 fix(core): add FreeBSD UFS (0x35) to the list of supported file systems
  core/src/main/c/freebsd/files.c
  core/src/main/c/linux/files.c
  core/src/main/c/share/files.h
  core/src/main/c/windows/files.c
Labels: hacktoberfest-accepted

#3897 perf(sql): speed up simple LIKE/ILIKE filters
  benchmarks/src/main/java/org/questdb/CharsIndexOfBenchmark.java
  core/src/main/java/io/questdb/griffin/engine/functions/regex/AbstractLikeStrFunctionFactory.java
  core/src/main/java/io/questdb/std/Chars.java
  core/src/main/java/io/questdb/std/str/Utf8s.java
  core/src/main/resources/io/questdb/bin/freebsd/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/regex/ILikeFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/regex/LikeFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/std/str/CharsTest.java
  core/src/test/java/io/questdb/test/std/str/Utf8sTest.java
Labels: SQL, Performance

#3919 fix(core): fix random file descriptor leak on WAL table drop
  core/src/main/java/io/questdb/cairo/TableWriter.java
Labels: Bug, Core

#3912 fix(sql): fix 'Invalid column' column error for columns used in non-equality join conditions
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
Labels: Bug, SQL

#3920 chore(ilp): use error log level for non-critical ILP errors
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpMeasurementEvent.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpMeasurementScheduler.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpWriterJob.java
Labels: ILP, Tidy up

#3917 chore(http): REST API tokens support
  core/src/main/java/io/questdb/ServerConfiguration.java
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/SecurityContext.java
  core/src/main/java/io/questdb/cairo/security/AllowAllSecurityContext.java
  core/src/main/java/io/questdb/cairo/security/DenyAllSecurityContext.java
  core/src/main/java/io/questdb/cairo/security/ReadOnlySecurityContext.java
  core/src/main/java/io/questdb/cutlass/auth/ChallengeResponseMatcher.java
  core/src/main/java/io/questdb/cutlass/http/HttpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/line/tcp/StaticChallengeResponseMatcher.java
  core/src/main/java/io/questdb/cutlass/line/tcp/auth/EllipticCurveAuthenticator.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/SqlUtil.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestByValueListRecordCursor.java
  core/src/main/java/io/questdb/std/Chars.java
  core/src/main/java/io/questdb/std/datetime/microtime/Timestamps.java
  core/src/test/java/io/questdb/test/AbstractTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/TestServerConfiguration.java
  core/src/test/java/io/questdb/test/cairo/SecurityContextTest.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/griffin/LatestByTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/test/griffin/SqlUtilTest.java
Labels: REST API, Security, tandem

#3908 fix(http): REST interface sends HTTP error replies on runtime errors
  core/src/main/java/io/questdb/cutlass/http/HttpHeaderParser.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/http/TestHttpClient.java
Labels: Bug, REST API, Java

#3930 chore(http): webconsole URL schema printed on startup is adjustable
  core/src/main/java/io/questdb/Bootstrap.java
  core/src/main/java/io/questdb/ServerMain.java
Labels: Bug, Java, Friction

#3942 chore(ui): bump web console to 0.3.0
  core/pom.xml
Labels: UI

#3939 chore(core): make SecurityContext aware of authentication type
  core/src/main/java/io/questdb/cairo/SecurityContext.java
  core/src/main/java/io/questdb/cairo/security/AllowAllSecurityContextFactory.java
  core/src/main/java/io/questdb/cairo/security/ReadOnlySecurityContextFactory.java
  core/src/main/java/io/questdb/cairo/security/SecurityContextFactory.java
  core/src/main/java/io/questdb/cairo/sql/VirtualRecord.java
  core/src/main/java/io/questdb/cutlass/auth/Authenticator.java
  core/src/main/java/io/questdb/cutlass/http/AnonymousHttpAuthenticator.java
  core/src/main/java/io/questdb/cutlass/http/HttpAuthenticator.java
  core/src/main/java/io/questdb/cutlass/http/HttpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/line/tcp/auth/EllipticCurveAuthenticator.java
  core/src/main/java/io/questdb/cutlass/pgwire/CleartextPasswordPgWireAuthenticator.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/ReadOnlyUsersAwareSecurityContextFactory.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/InterpolationGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevPopGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevSampleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarPopGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarSampleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/AvgDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/window/CachedWindowRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/window/WindowRecordCursorFactory.java
  core/src/test/java/io/questdb/test/griffin/engine/window/WindowFunctionTest.java
Labels: Security, tandem

#3948 chore(core): introduce separate settings for WAL writer pool
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/pool/WalWriterPool.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: WAL

#3945 chore(core): reduce disk and memory footprint of system tables
  benchmarks/src/main/java/org/questdb/TableReaderReloadBenchmark.java
  benchmarks/src/main/java/org/questdb/TableWriterBenchmark.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/AbstractTableNameRegistry.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/TableConverter.java
  core/src/main/java/io/questdb/cairo/TableNameRegistry.java
  core/src/main/java/io/questdb/cairo/TableNameRegistryRW.java
  core/src/main/java/io/questdb/cairo/TableNameRegistryStore.java
  core/src/main/java/io/questdb/cairo/TableToken.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/pool/SqlCompilerPool.java
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/java/io/questdb/cutlass/text/CopyTask.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/UpdateOperatorImpl.java
  core/src/main/java/io/questdb/griffin/engine/functions/test/TestDataUnavailableFunctionFactory.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/cairo/SecurityContextTest.java
  core/src/test/java/io/questdb/test/cairo/TableTokenTest.java
  core/src/test/java/io/questdb/test/cairo/pool/ReaderPoolTest.java
  core/src/test/java/io/questdb/test/cairo/pool/WriterPoolTest.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/http/ImportIODispatcherTest.java
  core/src/test/java/io/questdb/test/griffin/ColumnPurgeJobTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalPurgeJobTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalTableFailureTest.java
  core/src/test/java/io/questdb/test/std/str/PathTest.java
  core/src/test/resources/server.conf
Labels: Core

#3951 fix(sql): improve count(*) and limit x,y performance
  core/src/main/java/io/questdb/cairo/FullBwdDataFrameCursor.java
  core/src/main/java/io/questdb/cairo/FullFwdDataFrameCursor.java
  core/src/main/java/io/questdb/cairo/sql/DataFrameCursor.java
  core/src/main/java/io/questdb/cairo/sql/RecordCursor.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/main/java/io/questdb/griffin/engine/AbstractVirtualFunctionRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/LimitRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/CountRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/CrossJoinRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/DataFrameRecordCursorImpl.java
  core/src/main/java/io/questdb/griffin/engine/table/FilterOnSubQueryRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/HeapRowCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestBySubQueryRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/SelectedRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/SequentialRowCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/union/UnionAllRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/window/CachedWindowRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/window/WindowRecordCursorFactory.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/EngineMigrationTest.java
  core/src/test/java/io/questdb/test/griffin/JoinTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByAscRowSkippingTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByDescRowSkippingTest.java
Labels: SQL, Performance, REST API

#3960 chore(core): add ent conf entries to server.conf
  core/src/main/resources/io/questdb/site/conf/server.conf
Labels: tandem

#3946 fix(core): fix UPDATE timeout can leave non-WAL table in half updated state
  core/src/main/java/io/questdb/ConfigProperty.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/griffin/UpdateOperatorImpl.java
  core/src/test/java/io/questdb/test/AbstractBootstrapTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpBootstrapTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PgBootstrapTest.java
Labels: Bug, Core

#3964 fix(sql): fix create table like with dedup
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/test/java/io/questdb/test/cairo/CreateTableTest.java
Labels: Bug, SQL

#3968 chore(core): recognize XFS file system as supported
  core/src/main/c/freebsd/files.c
  core/src/main/c/linux/files.c
  core/src/main/resources/io/questdb/bin/armlinux/libquestdb.so
  core/src/main/resources/io/questdb/bin/armosx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/freebsd/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
Labels: Tidy up, Core

#3969 perf(sql): use StringBuilder instead of StringBuffer when possible in regexp_replace
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIPv4GroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIntGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctLongGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctStringGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctSymbolGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctUuidGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/regex/RegexpReplaceStrFunctionFactory.java
  core/src/main/java/io/questdb/std/AbstractIntHashSet.java
  core/src/main/java/io/questdb/std/AbstractLongHashSet.java
  core/src/main/java/io/questdb/std/CompactCharSequenceHashSet.java
  core/src/main/java/io/questdb/std/CompactIntHashSet.java
  core/src/main/java/io/questdb/std/CompactLongHashSet.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctIntGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctLongGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/std/CompactCharSequenceHashSetTest.java
Labels: SQL, Performance

#3953 chore(build): GitHub Action for rebuilding native libs
  .github/workflows/rebuild_native_libs.yml
Labels: Enhancement, CI

#3971 chore(ui): bump web console to 0.3.2
  core/pom.xml
Labels: UI

#3972 feat(sql): add `show parameters` SQL
  core/src/main/java/io/questdb/ConfigPropertyKey.java
  core/src/main/java/io/questdb/ConfigPropertyValue.java
  core/src/main/java/io/questdb/ConfigPropertyValueImpl.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/ServerConfiguration.java
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DatabaseSnapshotAgentImpl.java
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/SqlParserCallback.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/ShowParametersCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/table/AllTablesFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/ShowTablesRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/model/ExpressionNode.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpBootstrapTest.java
  core/src/test/java/io/questdb/test/griffin/ShowTablesTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCompilerImplTest.java
  core/src/test/java/io/questdb/test/griffin/SqlKeywordsTest.java
Labels: New feature, SQL, tandem

#3974 perf(sql): optimize count_distinct symbol function
  core/src/main/java/io/questdb/griffin/engine/functions/GroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIPv4GroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIntGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctLong256GroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctLongGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctStringGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctSymbolGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctUuidGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/HaversineDistDegreeGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/rnd/RndIntCCFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByNotKeyedRecordCursorFactory.java
  core/src/main/java/io/questdb/std/BitSet.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctSymbolGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/std/BitSetTest.java
Labels: SQL, Performance

#3980 feat(core): print insufficient Linux kernel limits on start-up
  core/src/main/c/freebsd/files.c
  core/src/main/c/linux/files.c
  core/src/main/c/share/files.h
  core/src/main/c/share/os.c
  core/src/main/c/windows/files.c
  core/src/main/c/windows/os.c
  core/src/main/java/io/questdb/Bootstrap.java
  core/src/main/java/io/questdb/std/Files.java
  core/src/main/resources/io/questdb/bin/armlinux/libquestdb.so
  core/src/main/resources/io/questdb/bin/armosx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/freebsd/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/main/resources/io/questdb/bin/osx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
Labels: New feature, Core

#3991 feat(sql): string_agg function support in keyed group by queries
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstStrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StringAggGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StringAggGroupByFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/StringAggGroupByFunctionFactoryTest.java
Labels: Enhancement, SQL

#3998 chore(sql): tweak initial set sizes in count_distinct functions
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIPv4GroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIPv4GroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIntGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIntGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctLong256GroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctLong256GroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctLongGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctLongGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctStringGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctStringGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctSymbolGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctSymbolGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctUuidGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctUuidGroupByFunctionFactory.java
  core/src/main/java/io/questdb/std/BitSet.java
  core/src/main/java/io/questdb/std/CompactCharSequenceHashSet.java
  core/src/main/java/io/questdb/std/Long256HashSet.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/griffin/ShowServerVersionTest.java
  core/src/test/resources/server.conf
Labels: SQL, Tidy up

#3997 fix(build): create dbroot directory inside user home on MacOS
  core/src/main/bin/questdb.sh
Labels: Bug, integration, Friction

#4003 test(pgwire): fix a flaky pgwire cancellation test
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, Java, Flaky Test

#3992 feat(core): 5x speed up of WAL Apply for small transaction and add SQL function to read WAL transactions metadata
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/vm/MemoryCMORImpl.java
  core/src/main/java/io/questdb/cairo/vm/api/MemoryOM.java
  core/src/main/java/io/questdb/cairo/wal/ApplyWal2TableJob.java
  core/src/main/java/io/questdb/cairo/wal/WalTxnDetails.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableTransactionLog.java
  core/src/main/java/io/questdb/cairo/wal/seq/TransactionLogCursor.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/WalTransactionsFunctionFactory.java
  core/src/main/java/io/questdb/std/WeakClosableObjectPool.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/CairoTestConfiguration.java
  core/src/test/java/io/questdb/test/cairo/ConfigurationOverrides.java
  core/src/test/java/io/questdb/test/cairo/Overrides.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/WalTransactionsFunctionTest.java
  core/src/test/java/io/questdb/test/griffin/wal/AbstractFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/wal/FuzzRunner.java
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
  core/src/test/java/io/questdb/test/wal/WalTxnDetailsFuzzTest.java
  core/src/test/resources/server.conf
  utils/src/main/java/io/questdb/cliutil/TxFileStruct.java
  utils/src/main/java/io/questdb/cliutil/TxSerializer.java
Labels: Performance, Core

#4012 feat(sql): add covariance and corr built-in functions
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/AbstractCovarGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/AbstractStdDevGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CorrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CorrGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CovarPopGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CovarPopGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CovarSampleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CovarSampleGroupByFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CorrGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CovarPopGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CovarSampleGroupByFunctionFactoryTest.java
Labels: New feature, SQL
