Repository questdb/questdb, pull requests merged in 2023-02, with the labels that each got.

#2943 feat(sql): backward interval generation in IN operator
  core/src/main/java/io/questdb/griffin/model/IntervalUtils.java
  core/src/test/java/io/questdb/griffin/model/IntrinsicModelTest.java
Labels: New feature, SQL

#2982 fix(sql): fix DISTINCT combined with a column alias
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
Labels: Bug, SQL

#2931 feat(sql): extend create table statement syntax to support "IN VOLUME volume-alias"
  core/src/main/java/io/questdb/Bootstrap.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/ServerConfigurationException.java
  core/src/main/java/io/questdb/VolumeDefinitions.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/ReverseTableMapItem.java
  core/src/main/java/io/questdb/cairo/TableNameRegistryFileStore.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cutlass/text/ParallelCsvFileImporter.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/TableListFunctionFactory.java
  core/src/main/java/io/questdb/griffin/model/CreateTableModel.java
  core/src/main/java/io/questdb/std/Files.java
  core/src/main/java/io/questdb/std/FilesFacade.java
  core/src/main/java/io/questdb/std/FilesFacadeImpl.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/AbstractBootstrapTest.java
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/ServerMainForeignTableTest.java
  core/src/test/java/io/questdb/VolumeDefinitionsTest.java
  core/src/test/java/io/questdb/cairo/CairoTestConfiguration.java
  core/src/test/java/io/questdb/cairo/TableNameRegistryTest.java
  core/src/test/java/io/questdb/cairo/TableUtilsTest.java
  core/src/test/java/io/questdb/cutlass/text/CairoConfigurationWrapper.java
  core/src/test/java/io/questdb/cutlass/text/ParallelCsvFileImporterTest.java
  core/src/test/java/io/questdb/griffin/SqlCompilerTest.java
  core/src/test/java/io/questdb/griffin/SqlParserTest.java
Labels: New feature, SQL

#2965 fix(sql): fix stack overflow exception in WITH clause parsing
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/model/WithClauseModel.java
  core/src/test/java/io/questdb/griffin/WithClauseTest.java
Labels: Bug, SQL

#2999 fix(sql): make sure that order by is not ignored by row_number() function
  core/src/main/java/io/questdb/cairo/sql/RecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/analytic/CachedAnalyticRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/analytic/RowNumberFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/FilterOnValuesRecordCursorFactory.java
  core/src/test/java/io/questdb/cairo/pool/ReaderPoolTest.java
  core/src/test/java/io/questdb/griffin/engine/analytic/AnalyticFunctionTest.java
Labels: Bug, SQL

#3001 fix(sql): non-keyed LT JOIN could return equal timestamps
  core/src/main/java/io/questdb/griffin/engine/join/LtJoinNoKeyRecordCursorFactory.java
  core/src/test/java/io/questdb/griffin/AsOfJoinTest.java
Labels: Bug, SQL

#2994 docs(ui): updating readme image
  .github/console.png
  README.md
Labels: Documentation

#2972 fix(sql): fix sample by first/last keyed by non-symbol column
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/orderby/RecordComparatorCompiler.java
  core/src/test/java/io/questdb/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/griffin/OrderByAdviceTest.java
  core/src/test/java/io/questdb/griffin/engine/groupby/SampleByTest.java
Labels: Bug, SQL

#2997 chore(ilp): Fix excessive O3 for ILP connections that write to the WAL table
  benchmarks/src/main/java/org/questdb/PongMain.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/VolumeDefinitions.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/pool/PoolListener.java
  core/src/main/java/io/questdb/cairo/pool/WalWriterPool.java
  core/src/main/java/io/questdb/cairo/wal/MetadataService.java
  core/src/main/java/io/questdb/cairo/wal/seq/MetadataServiceStub.java
  core/src/main/java/io/questdb/cutlass/http/HttpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
  core/src/main/java/io/questdb/cutlass/line/tcp/DefaultLineTcpReceiverConfiguration.java
  core/src/main/java/io/questdb/cutlass/line/tcp/IOTableUpdateDetailsPool.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpMeasurementScheduler.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpNetworkIOJob.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpReceiver.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpReceiverConfiguration.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpReceiverConfigurationHelper.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpWriterJob.java
  core/src/main/java/io/questdb/cutlass/line/tcp/TableUpdateDetails.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireServer.java
  core/src/main/java/io/questdb/network/AbstractIODispatcher.java
  core/src/main/java/io/questdb/network/DefaultIODispatcherConfiguration.java
  core/src/main/java/io/questdb/network/IOContext.java
  core/src/main/java/io/questdb/network/IOContextFactory.java
  core/src/main/java/io/questdb/network/IOContextFactoryImpl.java
  core/src/main/java/io/questdb/network/IODispatcherConfiguration.java
  core/src/main/java/io/questdb/network/IODispatcherLinux.java
  core/src/main/java/io/questdb/network/IODispatcherOsx.java
  core/src/main/java/io/questdb/network/IODispatcherWindows.java
  core/src/main/java/io/questdb/network/IODispatchers.java
  core/src/main/java/io/questdb/network/IOOperation.java
  core/src/main/java/io/questdb/network/Kqueue.java
  core/src/main/java/io/questdb/network/NetworkFacadeImpl.java
  core/src/main/java/io/questdb/std/ObjLongMatrix.java
  core/src/test/java/io/questdb/ServerMainForeignTableTest.java
  core/src/test/java/io/questdb/VolumeDefinitionsTest.java
  core/src/test/java/io/questdb/cairo/TableWriterTest.java
  core/src/test/java/io/questdb/cairo/pool/ReaderPoolTest.java
  core/src/test/java/io/questdb/cutlass/IODispatcherHeartbeatTest.java
  core/src/test/java/io/questdb/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AbstractLineTcpReceiverFuzzTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AbstractLineTcpReceiverTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AlterTableDropActivePartitionLineTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AlterTableLineTcpReceiverTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/AlterWalTableLineTcpReceiverTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/BaseLineTcpContextTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/IOTableUpdateDetailsPoolTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpCommitFuzzTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpO3Test.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpPartitionReadOnlyTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpReceiverConfigurationHelperTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpReceiverFuzzTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpReceiverTest.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpSenderTest.java
  utils/src/test/java/io/questdb/cliutil/Table2IlpTest.java
Labels: Performance, ILP

#3005 fix(sql): fix inconvertible types error when updating string column
  core/src/main/java/io/questdb/cairo/ColumnType.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/test/java/io/questdb/griffin/UpdateTest.java
  core/src/test/java/io/questdb/griffin/UuidTest.java
Labels: Bug, SQL

#3007 fix(sql): fix (i)like with single character pattern
  core/src/main/java/io/questdb/griffin/engine/functions/regex/LikeCharFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/griffin/engine/functions/regex/LikeFunctionFactoryTest.java
Labels: Bug, SQL

#3013 fix(sql): fix group by performance when selected columns have aliases
  core/src/main/java/io/questdb/cairo/sql/PageFrame.java
  core/src/main/java/io/questdb/cairo/sql/PageFrameCursor.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/engine/table/BwdTableReaderPageFrameCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/FwdTableReaderPageFrameCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/SelectedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/test/java/io/questdb/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
Labels: Bug, SQL, Performance

#3029 chore(core): increase kill -9 threshold to 30 seconds in questdb.sh script
  core/src/main/bin/questdb.sh
Labels: Tidy up
