Repository questdb/questdb, pull requests merged in 2023-03, with the labels that each got.

#3041 chore(core): fix error handling in Files#openCleanRW() on Windows
  core/src/main/c/windows/files.c
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
  core/src/test/java/io/questdb/FilesTest.java
Labels: Bug, Core

#3055 fix(pgwire): send empty query response when sql text contains no query
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/test/java/io/questdb/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, Postgres Wire

#3034 fix(sql): allow selecting aliased column followed by wildcard
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/griffin/SqlCompilerTest.java
  core/src/test/java/io/questdb/griffin/SqlParserTest.java
Labels: Bug, SQL

#3063 fix(ilp): fix no periodic commits for WAL tables in ILP when table constantly written
  benchmarks/src/main/java/org/questdb/LineTCPSenderMainLowConstantRate.java
  core/src/main/java/io/questdb/cairo/wal/WalWriterEvents.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpConnectionContext.java
  core/src/test/java/io/questdb/cairo/AbstractCairoTest.java
  core/src/test/java/io/questdb/cairo/CairoTestConfiguration.java
  core/src/test/java/io/questdb/cairo/ConfigurationOverrides.java
  core/src/test/java/io/questdb/cairo/Overrides.java
  core/src/test/java/io/questdb/cutlass/line/tcp/LineTcpCommitFuzzTest.java
Labels: Bug, ILP, Core

#3072 fix(core): fix DB crashes while writing to multiple tables
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/O3CallbackJob.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/pool/AbstractMultiTenantPool.java
  core/src/main/java/io/questdb/cairo/wal/ApplyWal2TableJob.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/GroupByJob.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/GroupByNotKeyedVectorRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/GroupByRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/VectorAggregateEntry.java
  core/src/main/java/io/questdb/mp/SOUnboundedCountDownLatch.java
  core/src/main/java/io/questdb/mp/Sequence.java
  core/src/main/java/io/questdb/std/AbstractLockable.java
  core/src/main/java/io/questdb/tasks/O3CallbackTask.java
  core/src/main/java/io/questdb/tasks/O3CopyTask.java
  core/src/test/java/io/questdb/cutlass/text/CairoConfigurationWrapper.java
  core/src/test/java/io/questdb/griffin/AbstractO3Test.java
  core/src/test/java/io/questdb/griffin/GroupByFunctionTest.java
  core/src/test/java/io/questdb/griffin/KeyedAggregationTest.java
  core/src/test/java/io/questdb/griffin/O3FailureTest.java
  core/src/test/java/io/questdb/griffin/wal/WalWriterFuzzTest.java
  core/src/test/java/io/questdb/griffin/wal/fuzz/FuzzTransactionGenerator.java
Labels: Bug, Core

#3077 fix(sql): fix order by removal in subquery with explicit timestamp
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/engine/join/SpliceJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/model/JoinContext.java
  core/src/test/java/io/questdb/griffin/ExplainPlanTest.java
Labels: Bug, SQL

#3061 fix(sql): fix index out of bounds errors in GROUP BY when worker pool is configured for HTTP or PGWire
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/PerWorkerLocks.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/GroupByNotKeyedVectorRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/GroupByRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/VectorAggregateEntry.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/VectorAggregateFunction.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilterAtom.java
  core/src/main/java/io/questdb/mp/WorkerPool.java
  core/src/test/java/io/questdb/ServerMainVectorGroupByTest.java
  core/src/test/java/io/questdb/griffin/KeyedAggregationTest.java
Labels: Bug, SQL

#3070 chore(core): add tests to exemplify the difference between '' and NULL for column type SYMBOL
  core/src/test/java/io/questdb/griffin/InsertTest.java
  core/src/test/java/io/questdb/griffin/SqlCompilerTest.java
Labels: Bug

#3042 chore(core): decrease default WAL apply thread pool size
  core/src/main/java/io/questdb/PropServerConfiguration.java
Labels: Tidy up, Core

#3073 fix(core): close all but N latest partitions when query execution finishes
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/TableReader.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/cairo/AbstractCairoTest.java
  core/src/test/java/io/questdb/cairo/CairoTestConfiguration.java
  core/src/test/java/io/questdb/cairo/ConfigurationOverrides.java
  core/src/test/java/io/questdb/cairo/Overrides.java
  core/src/test/java/io/questdb/cairo/StaticOverrides.java
  core/src/test/java/io/questdb/cairo/TableReaderReloadFuzzTest.java
  core/src/test/java/io/questdb/cairo/TableReaderReloadTest.java
  core/src/test/java/io/questdb/cairo/TableReaderTest.java
  core/src/test/java/io/questdb/cutlass/text/CairoConfigurationWrapper.java
  core/src/test/java/io/questdb/griffin/AbstractGriffinTest.java
  core/src/test/java/io/questdb/griffin/SqlCodeGeneratorTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: SQL, Core

#3091 chore(core): relax critical log level to error in attach/detach operations that do not need it
  core/src/main/java/io/questdb/cairo/AttachDetachStatus.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/griffin/engine/ops/AlterOperation.java
Labels: Tidy up

#3095 fix(wal): fix WAL apply lag calculation
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
Labels: Bug, Core

#3086 chore(core): decrease default append page size for WAL writers
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/cutlass/text/CairoConfigurationWrapper.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: Tidy up, Core

#3137 fix(sql): allow using more data types in PARTITION BY of LATEST ON queries
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/test/java/io/questdb/test/griffin/LatestByTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
Labels: New feature, SQL

#3141 docs(core): updating benchmark image in readme
  .github/readme-benchmark.png
  README.md
Labels: Documentation

#3060 feat(sql): add SHOW PARTITIONS FROM table; as well as SELECT * FROM table_partitions('table');
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/engine/functions/str/SizePrettyFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/table/TablePartitionsFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/ShowPartitionsRecordCursorFactory.java
  core/src/main/java/io/questdb/std/Files.java
  core/src/main/java/io/questdb/std/FilesFacade.java
  core/src/main/java/io/questdb/std/FilesFacadeImpl.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/AbstractBootstrapTest.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/BootstrapTest.java
  core/src/test/java/io/questdb/test/FilesTest.java
  core/src/test/java/io/questdb/test/ServerMainForeignTableTest.java
  core/src/test/java/io/questdb/test/ServerMainShowPartitionsTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/ServerMainVectorGroupByTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/AlterTableDropActivePartitionLineTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpPartitionReadOnlyTest.java
  core/src/test/java/io/questdb/test/cutlass/line/udp/LineUdpPartitionReadOnlyTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableSetTypeDisabledTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableSetTypeRestartTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableSetTypeSuspendedTest.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/ShowPartitionsTest.java
  core/src/test/java/io/questdb/test/griffin/ShowTablesTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/str/SizePrettyFunctionFactoryTest.java
Labels: New feature, SQL

#3056 fix(core): fix UTF-8 handling issues in logging
  core/src/main/java/io/questdb/log/LogRecordSink.java
  core/src/main/java/io/questdb/log/Logger.java
  core/src/main/java/io/questdb/std/str/CharSink.java
  core/src/test/java/io/questdb/test/log/LogRecordSinkTest.java
Labels: Bug, Core
