Repository questdb/questdb, pull requests merged in 2024-09, with the labels that each got.

#4911 ci(build): remove unused Rust crate "fail"
  core/pom.xml
  core/rust/qdbr/Cargo.lock
  core/rust/qdbr/Cargo.toml
Labels: Enhancement, CI

#4908 fix(sql): symbol cannot be set to CACHE immediately after setting it to NOCACHE
  core/src/main/java/io/questdb/cairo/SymbolMapWriter.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/test/java/io/questdb/test/cutlass/http/DispatcherWriterQueueTest.java
Labels: Bug, SQL

#4824 fix(sql): better overflow behaviour when converting timezones
  core/src/main/java/io/questdb/griffin/FunctionParser.java
  core/src/main/java/io/questdb/griffin/engine/functions/IntFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/AddIntFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/MulIntFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/NegIntFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/SubIntFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/AddIntFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/MulIntFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/MulLongFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/NegIntFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/SubIntFunctionFactoryTest.java
Labels: SQL, Friction

#4881 perf(sql): optimize memory usage in hash joins
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/join/AsOfJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashJoinRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashOuterJoinFilteredLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashOuterJoinFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashOuterJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/HashOuterJoinRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/LongChain.java
  core/src/main/java/io/questdb/griffin/engine/join/LtJoinLightRecordCursorFactory.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/griffin/GroupByTest.java
  core/src/test/java/io/questdb/test/griffin/JoinTest.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/engine/join/LongChainTest.java
  core/src/test/java/io/questdb/test/griffin/engine/window/WindowFunctionTest.java
  pkg/ami/marketplace/assets/server.conf
Labels: SQL, Performance

#4888 perf(sql): optimize memory usage in order by
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/griffin/engine/AbstractRedBlackTree.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeLongTreeChain.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LongTreeChain.java
  core/src/main/java/io/questdb/griffin/engine/table/LongTreeSet.java
  core/src/main/java/io/questdb/std/DirectIntList.java
  core/src/main/java/io/questdb/std/MemoryPages.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/IDGeneratorTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByExpressionTest.java
  core/src/test/java/io/questdb/test/griffin/SecurityTest.java
  core/src/test/java/io/questdb/test/griffin/engine/LongTreeSetTest.java
  core/src/test/java/io/questdb/test/griffin/engine/orderby/LimitedSizeLongTreeChainTest.java
  core/src/test/java/io/questdb/test/std/DirectIntListTest.java
  pkg/ami/marketplace/assets/server.conf
Labels: SQL, Performance

#4920 test(sql): fix flaky testServerMainCreateWalTableInVolume()
  core/src/test/java/io/questdb/test/ServerMainForeignTableTest.java
Labels: Bug, SQL, Java, Flaky Test

#4923 test(core): fix flaky CheckpointTest.testSuspendResumeWalPurgeJob()
  core/src/test/java/io/questdb/test/griffin/CheckpointTest.java
Labels: Bug, Flaky Test

#4916 perf(sql): keyed ASOF JOIN optimizations
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/SingleRecordSink.java
  core/src/main/java/io/questdb/cairo/sql/PageFrameMemoryRecord.java
  core/src/main/java/io/questdb/cairo/sql/TimeFrame.java
  core/src/main/java/io/questdb/cairo/sql/TimeFrameRecordCursor.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/join/AbstractAsOfJoinFastRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/join/AsOfJoinFastRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/OuterJoinRecord.java
  core/src/main/java/io/questdb/griffin/engine/table/TimeFrameRecordCursorImpl.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/SingleRecordSinkTest.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinNoKeyTest.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinTest.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/TimeFrameRecordCursorTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: SQL, Performance

#4924 test(core): speed-up HttpSenderMemoryPressureFuzzTest.testMemoryPressureSingleSender()
  core/src/test/java/io/questdb/test/cutlass/http/line/HttpSenderMemoryPressureFuzzTest.java
Labels: Performance

#4914 ci(build): simplify Rust code coverage
  ci/templates/steps.yml
  core/pom.xml
Labels: Enhancement, CI

#4934 fix(ilp): ILP clients should not retry when inserting a bad UUID value
  core/src/main/java/io/questdb/cutlass/line/tcp/LineWalAppender.java
  core/src/test/java/io/questdb/test/cutlass/http/line/LineHttpSenderTest.java
Labels: Bug, Java, ILP

#4936 feat(ilp): ILP client allows to cancel the current row
  core/src/main/java/io/questdb/client/Sender.java
  core/src/main/java/io/questdb/cutlass/http/client/HttpClient.java
  core/src/main/java/io/questdb/cutlass/line/LineTcpSender.java
  core/src/main/java/io/questdb/cutlass/line/LineUdpSender.java
  core/src/main/java/io/questdb/cutlass/line/http/LineHttpSender.java
  core/src/test/java/io/questdb/test/cutlass/http/line/LineHttpSenderTest.java
Labels: Enhancement, Java, ILP

#4929 fix(sql): fix NPE when using CTEs and compiling an async group by factory
  core/src/main/java/io/questdb/cairo/sql/RecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncJitFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/SelectedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/StealableFilterRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
Labels: Bug, SQL

#4943 feat(sql): add today(), tomorrow(), yesterday() time functions
  core/src/main/java/io/questdb/griffin/engine/functions/date/TodayFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/TomorrowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/YesterdayFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/engine/functions/date/TodayTomorrowYesterdayTest.java
Labels: SQL

#4947 fix(sql): first(varchar) and last(varchar) functions can crash server
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstNotNullStrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstNotNullVarcharGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstStrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstVarcharGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/LastNotNullStrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/LastNotNullVarcharGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/LastStrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/LastVarcharGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/groupby/StableAwareStringHolder.java
  core/src/main/java/io/questdb/griffin/engine/groupby/StableAwareUtf8StringHolder.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/FirstAndLastStrGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/StableAwareStringHolderTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/StableAwareUtf8StringHolderTest.java
Labels: Bug, SQL

#4966 fix(core): fix potential crash when writing with dedup key on on varchar, string column key
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/DedupColumnCommitAddresses.java
  core/src/main/java/io/questdb/cairo/O3PartitionJob.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/test/java/io/questdb/test/griffin/wal/DedupInsertFuzzTest.java
Labels: Bug, Core
