Repository questdb/questdb, pull requests merged in 2024-05, with the labels that each got.

#4455 feat(sql): fixed size numeric column conversions
  core/CMakeLists.txt
  core/src/main/c/share/converters.cpp
  core/src/main/c/share/converters.h
  core/src/main/java/io/questdb/cairo/CursorPrinter.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/griffin/ColumnTypeConverter.java
  core/src/main/java/io/questdb/griffin/ConvertOperatorImpl.java
  core/src/main/java/io/questdb/griffin/ConvertersNative.java
  core/src/main/java/io/questdb/std/Numbers.java
  core/src/test/java/io/questdb/test/cutlass/http/line/AbstractLineHttpFuzzTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/load/TableData.java
  core/src/test/java/io/questdb/test/fuzz/FuzzChangeColumnTypeOperation.java
  core/src/test/java/io/questdb/test/griffin/AlterTableChangeColumnTypeTest.java
Labels: SQL, Core

#4453 chore(core): return Utf8SplitString from getVarcharA/B
  benchmarks/src/main/java/org/questdb/UnorderedVarcharMapBenchmark.java
  core/src/main/java/io/questdb/cairo/BinaryTypeDriver.java
  core/src/main/java/io/questdb/cairo/ColumnTypeDriver.java
  core/src/main/java/io/questdb/cairo/StringTypeDriver.java
  core/src/main/java/io/questdb/cairo/TableReaderRecord.java
  core/src/main/java/io/questdb/cairo/TableReaderSelectedColumnRecord.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/VarcharTypeDriver.java
  core/src/main/java/io/questdb/cairo/sql/PageAddressCacheRecord.java
  core/src/main/java/io/questdb/cairo/vm/AbstractMemoryCR.java
  core/src/main/java/io/questdb/cairo/vm/MemoryPARWImpl.java
  core/src/main/java/io/questdb/cairo/vm/NullMemoryMR.java
  core/src/main/java/io/questdb/cairo/vm/api/MemoryR.java
  core/src/main/java/io/questdb/cairo/vm/api/NullMemory.java
  core/src/main/java/io/questdb/cairo/wal/WalDataRecord.java
  core/src/main/java/io/questdb/cairo/wal/WalEventWriter.java
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/java/io/questdb/griffin/UpdateOperatorImpl.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastSymbolToVarcharFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/eq/EqVarcharFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/regex/AbstractLikeVarcharFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/str/StartsWithVarcharFunctionFactory.java
  core/src/main/java/io/questdb/std/Chars.java
  core/src/main/java/io/questdb/std/str/InlinedVarchar.java
  core/src/main/java/io/questdb/std/str/Utf8Sequence.java
  core/src/main/java/io/questdb/std/str/Utf8SplitString.java
  core/src/main/java/io/questdb/std/str/Utf8String.java
  core/src/main/java/io/questdb/std/str/Utf8s.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/cairo/VarcharTypeDriverTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/PageFrameCursorTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/str/StartsWithVarcharFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/str/VarcharFunctionsTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/StableAwareUtf8StringHolderTest.java
  core/src/test/java/io/questdb/test/std/VectTest.java
  core/src/test/java/io/questdb/test/std/str/Utf8sTest.java
Labels: SQL, Performance, Core

#4471 chore(core): restructure CXX build
  .github/workflows/rebuild_native_libs.yml
  core/CMakeLists.txt
  core/pom.xml
  core/src/main/assembly/no-jre.xml
  core/src/main/assembly/rt-unix.xml
  core/src/main/assembly/rt-win.xml
  core/src/main/bin/darwin-aarch64/libjemalloc.dylib
  core/src/main/bin/darwin-amd64/libjemalloc.dylib
  core/src/main/bin/linux-aarch64/libjemalloc.so
  core/src/main/bin/linux-amd64/libjemalloc.so
  core/src/main/bin/questdb.sh
  core/src/main/c/aarch64/vect.cpp
  core/src/main/c/share/jemalloc-cmake/CMakeLists.txt
  core/src/main/c/share/jemalloc-cmake/include/jemalloc/jemalloc.h
  core/src/main/c/share/jemalloc-cmake/include_darwin_aarch64/jemalloc/internal/jemalloc_internal_defs.h.in
  core/src/main/c/share/jemalloc-cmake/include_darwin_x86_64/jemalloc/internal/jemalloc_internal_defs.h.in
  core/src/main/c/share/jemalloc-cmake/include_freebsd_x86_64/jemalloc/internal/jemalloc_internal_defs.h.in
  core/src/main/c/share/jemalloc-cmake/include_linux_aarch64/jemalloc/internal/jemalloc_internal_defs.h.in
  core/src/main/c/share/jemalloc-cmake/include_linux_x86_64/jemalloc/internal/jemalloc_internal_defs.h.in
  core/src/main/c/share/os.c
  core/src/main/c/share/vec_agg.cpp
  core/src/main/java/io/questdb/Bootstrap.java
  core/src/main/java/io/questdb/cutlass/http/client/HttpClientFactory.java
  core/src/main/java/io/questdb/jit/JitUtil.java
  core/src/main/java/io/questdb/log/AbstractLogRecord.java
  core/src/main/java/io/questdb/log/LogFactory.java
  core/src/main/java/io/questdb/log/LogRecord.java
  core/src/main/java/io/questdb/log/NullLogRecord.java
  core/src/main/java/io/questdb/network/IODispatchers.java
  core/src/main/java/io/questdb/network/SuspendEventFactory.java
  core/src/main/java/io/questdb/std/Files.java
  core/src/main/java/io/questdb/std/IOURingFacadeImpl.java
  core/src/main/java/io/questdb/std/Os.java
  core/src/main/resources/io/questdb/bin/armlinux/libquestdb.so
  core/src/main/resources/io/questdb/bin/armosx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/darwin-aarch64/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/darwin-aarch64/libquestdbr.dylib
  core/src/main/resources/io/questdb/bin/darwin-amd64/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/darwin-amd64/libquestdbr.dylib
  core/src/main/resources/io/questdb/bin/freebsd-amd64/libquestdb.so
  core/src/main/resources/io/questdb/bin/freebsd-amd64/libquestdbr.so
  core/src/main/resources/io/questdb/bin/freebsd/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux-aarch64/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux-amd64/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux-amd64/libquestdbr.so
  core/src/main/resources/io/questdb/bin/linux/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux/libquestdbr.so
  core/src/main/resources/io/questdb/bin/osx/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/windows-amd64/libquestdb.dll
  core/src/main/resources/io/questdb/bin/windows-amd64/questdbr.dll
  core/src/main/resources/io/questdb/bin/windows/libquestdb.dll
  core/src/main/resources/io/questdb/bin/windows/libquestdbr.dll
  core/src/test/java/io/questdb/test/FilesTest.java
  core/src/test/java/io/questdb/test/cairo/TableReaderTest.java
  core/src/test/java/io/questdb/test/cutlass/line/udp/LineUdpInsertTest.java
  core/src/test/java/io/questdb/test/cutlass/line/udp/LinuxLineUdpProtoReceiverTest.java
  core/src/test/java/io/questdb/test/griffin/O3Test.java
  core/src/test/java/io/questdb/test/log/LogAlertSocketTest.java
  core/src/test/java/io/questdb/test/network/NetTest.java
  core/src/test/java/io/questdb/test/std/OsTest.java
Labels: Enhancement, Core, ready for review

#4472 fix(http): remove `ddl:ok` response for insert query
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/test/java/io/questdb/test/cutlass/http/DispatcherWriterQueueTest.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/http/RetryIODispatcherTest.java
Labels: Enhancement, REST API

#4482 chore(core): speed up hash table look-ups by caching zero-padded prefix in Utf8String
  core/src/main/java/io/questdb/std/str/GcUtf8String.java
  core/src/main/java/io/questdb/std/str/Utf8Sequence.java
  core/src/main/java/io/questdb/std/str/Utf8String.java
  core/src/main/java/io/questdb/std/str/Utf8s.java
  core/src/test/java/io/questdb/test/std/str/Utf8sTest.java
Labels: Enhancement, Performance

#4461 chore(ui): upgrade to web console v0.4.1
  core/pom.xml
  core/src/main/java/io/questdb/Bootstrap.java
Labels: tandem

#4484 fix(ui): web console to load regardless of pgwire disabled
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/test/java/io/questdb/test/AbstractBootstrapTest.java
  core/src/test/java/io/questdb/test/cutlass/http/WebConsoleLoadingTest.java
Labels: Bug, Postgres Wire

#4441 fix(sql): minor bug fixes in ExpressionParser
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/OperatorExpression.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/test/griffin/ExpressionParserTest.java
  core/src/test/java/io/questdb/test/griffin/FunctionParserCastFunctionsNullTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/test/griffin/WhereClauseParserTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/cast/CastGeoHashFunctionFactoryTest.java
Labels: Bug, SQL

#4403 chore(core): WHERE parser support for VARCHAR intervals
  core/src/main/java/io/questdb/griffin/WhereClauseParser.java
  core/src/test/java/io/questdb/test/griffin/WhereClauseParserTest.java
Labels: Java, Core

#4485 chore(core): improve worker thread responsiveness after recent work
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/mp/Worker.java
  core/src/main/java/io/questdb/mp/WorkerPool.java
  core/src/main/java/io/questdb/mp/WorkerPoolConfiguration.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/griffin/WhereClauseParserTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: Enhancement, Core

#4499 fix(sql): IN with NULLs and STRINGs sometimes may return the wrong result
  core/src/main/java/io/questdb/griffin/engine/functions/bool/InStrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/bool/InVarcharFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/bool/InStrFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/bool/InVarcharFunctionFactoryTest.java
Labels: Bug, SQL

#4503 fix(sql): fix SAMPLE BY and GROUP BY not grouping when used with column aliases
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
Labels: Bug, SQL

#4507 feat(core): add ZFS support
  core/src/main/c/linux/files.c
  core/src/main/java/io/questdb/std/FilesFacadeImpl.java
  core/src/main/resources/io/questdb/bin/linux-aarch64/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux-amd64/libquestdb.so
  core/src/main/resources/io/questdb/bin/windows-amd64/libquestdb.dll
  core/src/main/resources/io/questdb/bin/windows-amd64/questdbr.dll
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
Labels: Enhancement, Core, tandem

#4492 chore(sql): fix subqueries returning a varchar column
  core/src/main/java/io/questdb/cairo/sql/Record.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/functions/bool/InSymbolCursorFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/FilterOnSubQueryRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/LatestBySubQueryRecordCursorFactory.java
  core/src/test/java/io/questdb/test/griffin/InTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByWithFilterTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/bool/InSymbolCursorFunctionFactoryTest.java
Labels: Bug, SQL, Java

#4476 feat(ilp): breaking change💥 - ILP and TextImport create VARCHAR instead of STRING columns
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cutlass/line/tcp/DefaultLineTcpReceiverConfiguration.java
  core/src/main/java/io/questdb/cutlass/text/CopyJob.java
  core/src/main/java/io/questdb/cutlass/text/CopyTask.java
  core/src/main/java/io/questdb/cutlass/text/CsvFileIndexer.java
  core/src/main/java/io/questdb/cutlass/text/DefaultTextConfiguration.java
  core/src/main/java/io/questdb/cutlass/text/ParallelCsvFileImporter.java
  core/src/main/java/io/questdb/cutlass/text/TextConfiguration.java
  core/src/main/java/io/questdb/cutlass/text/TextLoader.java
  core/src/main/java/io/questdb/cutlass/text/TextMetadataDetector.java
  core/src/main/java/io/questdb/cutlass/text/types/DateUtf8Adapter.java
  core/src/main/java/io/questdb/cutlass/text/types/StringAdapter.java
  core/src/main/java/io/questdb/cutlass/text/types/SymbolAdapter.java
  core/src/main/java/io/questdb/cutlass/text/types/TimestampUtf8Adapter.java
  core/src/main/java/io/questdb/cutlass/text/types/TypeAdapter.java
  core/src/main/java/io/questdb/cutlass/text/types/TypeManager.java
  core/src/main/java/io/questdb/cutlass/text/types/VarcharAdapter.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/Overrides.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/http/RetryIODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/text/CsvFileIndexerTest.java
  core/src/test/java/io/questdb/test/cutlass/text/ParallelCsvFileImporterTest.java
  core/src/test/java/io/questdb/test/cutlass/text/TextLoaderTest.java
  core/src/test/java/io/questdb/test/cutlass/text/TextMetadataParserTest.java
  core/src/test/java/io/questdb/test/cutlass/text/types/TypeManagerTest.java
Labels: ILP, Core, ready for review

#4515 chore(core): fix jemalloc flag in questdb.sh
  core/src/main/bin/questdb.sh
Labels: Bug

#4518 chore(ui): upgrade to web console 0.4.2
  core/Dockerfile
  core/pom.xml
Labels: tandem

#4429 fix(sql): fix several bugs in aggregation (avg/sum/first_value) window functions
  core/src/main/java/io/questdb/griffin/engine/functions/window/AvgDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/BaseDoubleWindowFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/FirstValueDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/SumDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/std/SwarUtils.java
  core/src/test/java/io/questdb/test/griffin/engine/window/WindowFunctionUnitTest.java
  core/src/test/java/io/questdb/test/std/SwarUtilsTest.java
  core/src/test/java/io/questdb/test/tools/TestDefaults.java
Labels: SQL, ready for review

#4517 perf(sql): statistics-based map pre-sizing for parallel group by
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/map/Map.java
  core/src/main/java/io/questdb/cairo/map/MapFactory.java
  core/src/main/java/io/questdb/cairo/map/OrderedMap.java
  core/src/main/java/io/questdb/cairo/map/Unordered16Map.java
  core/src/main/java/io/questdb/cairo/map/Unordered2Map.java
  core/src/main/java/io/questdb/cairo/map/Unordered4Map.java
  core/src/main/java/io/questdb/cairo/map/Unordered8Map.java
  core/src/main/java/io/questdb/cairo/map/UnorderedVarcharMap.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByAtom.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByRecordCursorFactory.java
  core/src/main/java/io/questdb/std/LongSort.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/map/MapTest.java
  core/src/test/java/io/questdb/test/cairo/map/Unordered16MapTest.java
  core/src/test/java/io/questdb/test/griffin/SecurityTest.java
  core/src/test/java/io/questdb/test/std/LongListTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: SQL, Performance

#4493 fix(sql): split_part returning old data when no match is found
  core/src/main/java/io/questdb/griffin/engine/functions/str/SplitPartCharFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/str/SplitPartFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/str/SplitPartVarcharFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/str/SplitPartCharFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/str/SplitPartFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/str/SplitPartVarcharFunctionFactoryTest.java
Labels: Bug, SQL, ready for review

#4523 perf(sql): speed up GROUP BY queries with ORDER BY and LIMIT
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeLongTreeChain.java
  core/src/test/java/io/questdb/test/griffin/engine/orderby/LimitedSizeLongTreeChainTest.java
Labels: SQL, Performance

#4529 perf(sql): optimize ORDER BY with LIMIT
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeLongTreeChain.java
Labels: SQL, Performance, Java

#4533 fix(core): fix potential data loss when non-WAL table dropped and created with same name
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/O3PartitionPurgeJob.java
  core/src/main/java/io/questdb/mp/WorkerPoolUtils.java
  core/src/test/java/io/questdb/test/griffin/AlterTableAttachPartitionFromSoftLinkTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableDetachPartitionTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableDropActivePartitionTest.java
  core/src/test/java/io/questdb/test/griffin/O3PartitionPurgeTest.java
  core/src/test/java/io/questdb/test/griffin/VacuumTablePartitionTest.java
  core/src/test/java/io/questdb/test/griffin/wal/FuzzRunner.java
Labels: Bug, Core

#4537 test(core): GroupBy{Int,Long}HashSet(Fuzz)Test - deal with a random generator yielding duplicates
  core/src/test/java/io/questdb/test/griffin/engine/groupby/GroupByIntHashSetFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/GroupByLongHashSetFuzzTest.java
Labels: Bug, Java, Core, Flaky Test

#4538 test(core): fix size estimation returned by driver.testSetAppendPosition()
  core/src/main/java/io/questdb/cairo/ColumnTypeDriver.java
  core/src/main/java/io/questdb/cairo/StringTypeDriver.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/VarcharTypeDriver.java
  core/src/test/java/io/questdb/test/cairo/VarcharTypeDriverTest.java
Labels: Bug, Java, Core, Flaky Test

#4443 fix(sql): breaking change💥 - fix expression parser operator precedence
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/OperatorExpression.java
  core/src/main/java/io/questdb/griffin/OperatorRegistry.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/SqlUtil.java
  core/src/main/java/io/questdb/griffin/model/ExpressionNode.java
  core/src/main/java/io/questdb/std/Rnd.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/ExpressionParserFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/ExpressionParserTest.java
  core/src/test/java/io/questdb/test/griffin/WhereClauseParserTest.java
  core/src/test/java/io/questdb/test/griffin/engine/AbstractFunctionFactoryTest.java
Labels: SQL, Compatibility

#4532 feat(core): improve SQL error logging
  core/src/main/java/io/questdb/DefaultQueryLogger.java
  core/src/main/java/io/questdb/QueryLogger.java
  core/src/main/java/io/questdb/TelemetryConfigLogger.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceJob.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/TypesAndUpdate.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/SqlException.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContext.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContextImpl.java
  core/src/main/java/io/questdb/griffin/engine/QueryProgress.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/CaseCommon.java
  core/src/main/java/io/questdb/griffin/engine/join/JoinRecordMetadata.java
  core/src/main/java/io/questdb/griffin/engine/ops/OperationDispatcher.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByRecordCursor.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/AbstractTest.java
  core/src/test/java/io/questdb/test/cairo/RssMemoryLimitTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/BasePGTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGFunctionsTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGMemoryLimitTest.java
  core/src/test/java/io/questdb/test/cutlass/text/SqlExecutionContextStub.java
  core/src/test/java/io/questdb/test/griffin/RecordCursorMemoryUsageTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/conditional/CaseFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/conditional/SwitchFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
  core/src/test/java/io/questdb/test/tools/LogCapture.java
Labels: Enhancement, SQL, tandem

#4543 chore(core): fix SQL query logging
  core/src/main/java/io/questdb/griffin/engine/QueryProgress.java
Labels: tandem

#4604 chore(sql): speed up regexp_replace(varchar) with single group
  core/src/main/java/io/questdb/griffin/engine/functions/regex/RegexUtils.java
  core/src/main/java/io/questdb/griffin/engine/functions/regex/RegexpReplaceStrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/regex/RegexpReplaceVarcharFunctionFactory.java
  core/src/main/java/io/questdb/std/str/DirectUtf16Sink.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/regex/RegexpReplaceVarcharFunctionFactoryTest.java
Labels: SQL, Performance

#4611 fix(core): fix transient query failure because of missing partition directory
  core/src/main/java/io/questdb/cairo/DatabaseSnapshotAgentImpl.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/std/str/Path.java
  core/src/test/java/io/questdb/test/griffin/O3PartitionPurgeTest.java
Labels: Bug, Core

#4542 perf(sql): adaptive work stealing for parallel query execution on multicore machines
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/sql/async/AdaptiveWorkStealingStrategy.java
  core/src/main/java/io/questdb/cairo/sql/async/AlwaysWorkStealingStrategy.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceJob.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceTask.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameSequence.java
  core/src/main/java/io/questdb/cairo/sql/async/WorkStealingStrategy.java
  core/src/main/java/io/questdb/cairo/sql/async/WorkStealingStrategyFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByMergeShardJob.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/GroupByNotKeyedVectorRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/GroupByRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/vect/VectorAggregateEntry.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByNotKeyedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncJitFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/tasks/GroupByMergeShardTask.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainQuerySmokeTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/griffin/ParallelFilterTest.java
  core/src/test/java/io/questdb/test/griffin/ParallelGroupByFuzzTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: SQL, Performance
