Repository questdb/questdb, pull requests merged in 2024-12, with the labels that each got.

#5203 chore(sql): fix backup SQL error when table is concurrently changed
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/wal/ApplyWal2TableJob.java
  core/src/main/java/io/questdb/cairo/wal/OperationExecutor.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/test/sqllogictest/AbstractSqllogicTestRunner.java
  core/src/test/resources/sqllogictest/test/sql/test_alter_backup_wal_table.test
  core/src/test/resources/sqllogictest/test/sql/test_update_rename_wal_table.test
Labels: Bug, SQL

#5224 fix(sql): fix server error when querying SAMPLE BY with FILL
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/TimestampFloorOffsetFunctions.java
  core/src/main/java/io/questdb/griffin/engine/groupby/FillRangeRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/MicroTimestampSampler.java
  core/src/main/java/io/questdb/griffin/engine/groupby/MonthTimestampSampler.java
  core/src/main/java/io/questdb/griffin/engine/groupby/TimestampSampler.java
  core/src/main/java/io/questdb/griffin/engine/groupby/YearTimestampSampler.java
  core/src/main/java/io/questdb/std/BitSet.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/MonthTimestampSamplerTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/TimestampSamplerFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/YearTimestampSamplerTest.java
  core/src/test/java/io/questdb/test/std/BitSetTest.java
  core/src/test/resources/sqllogictest/data/sql-testing/demo_telemetry_wal.parquet
  core/src/test/resources/sqllogictest/test/sql/sample_by_fill.test
Labels: Bug, SQL

#5221 fix(sql): fix rare NullPointerException thrown when executing parallel filter query
  core/src/main/java/io/questdb/cairo/sql/AtomicBooleanCircuitBreaker.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceJob.java
  core/src/main/java/io/questdb/griffin/QueryRegistry.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContextImpl.java
  core/src/main/java/io/questdb/griffin/engine/QueryProgress.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/griffin/ParallelFilterTest.java
Labels: Bug, SQL, REST API

#5204 feat(sql): add `SHOW CREATE TABLE table_name` to get a table DDL
  core/src/main/java/io/questdb/VolumeDefinitions.java
  core/src/main/java/io/questdb/cairo/CairoTable.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/SqlParserCallback.java
  core/src/main/java/io/questdb/griffin/engine/table/ShowCreateTableRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/test/java/io/questdb/test/griffin/ShowCreateTableTest.java
Labels: New feature, SQL, tandem

#5192 fix(pgwire): fix query cache hit logging for prepared statements
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGPipelineEntry.java
Labels: Bug, Postgres Wire

#5222 fix(pgwire): error when using in('foo', 'bar') predicate
  compat/src/test/resources/test_cases.yaml
  compat/src/test/scenarios_stable.sh
  core/src/main/java/io/questdb/cairo/ColumnType.java
  core/src/main/java/io/questdb/cairo/sql/BindVariableService.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGPipelineEntry.java
  core/src/main/java/io/questdb/griffin/FunctionFactory.java
  core/src/main/java/io/questdb/griffin/FunctionParser.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/functions/bind/BindVariableServiceImpl.java
  core/src/main/java/io/questdb/griffin/engine/functions/bind/IndexedParameterLinkFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/bool/InTimestampStrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/bool/InTimestampTimestampFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/bool/InTimestampVarcharFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/TypeOfFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/CaseFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/CoalesceFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/SwitchFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/finance/LevelTwoPriceFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/TimestampQueryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/TypeOfFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/conditional/CaseFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/eq/EqTimestampStrFunctionFactoryTest.java
Labels: Bug, Postgres Wire

#5113 fix(sql): fix rewrite `sample by` to `group by` same column names' bug.
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
Labels: Bug, SQL

#5246 fix(sql): allow UNION between IPv4 and VARCHAR/STRING columns
  core/src/main/java/io/questdb/cairo/ColumnType.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastIPv4ToVarcharFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/IPv4Test.java
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/test/griffin/UnionAllCastTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/finance/GreatestNumericFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/finance/LeastNumericFunctionFactoryTest.java
Labels: Bug, SQL

#5231 feat(core): add configurable timezone for logger
  core/src/main/java/io/questdb/Bootstrap.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/log/AbstractLogRecord.java
  core/src/main/java/io/questdb/log/LogFactory.java
  core/src/main/java/io/questdb/log/LogLevel.java
  core/src/main/java/io/questdb/log/LogRollingFileWriter.java
  core/src/main/java/io/questdb/log/TemplateParser.java
  core/src/main/java/io/questdb/std/datetime/DateLocale.java
  core/src/main/java/io/questdb/std/datetime/microtime/TimestampFormatUtils.java
  core/src/main/java/io/questdb/std/datetime/microtime/Timestamps.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/std/datetime/microtime/TimestampsTest.java
Labels: Core, Monitoring
