Repository questdb/questdb, pull requests merged in 2024-06, with the labels that each got.

#4631 fix(ilp): make trailing semicolon in client configuration optional
  core/src/main/java/io/questdb/cairo/sql/Function.java
  core/src/main/java/io/questdb/client/impl/ConfStringParser.java
  core/src/main/java/io/questdb/griffin/FunctionFactory.java
  core/src/test/java/io/questdb/test/client/LineSenderBuilderTest.java
  core/src/test/java/io/questdb/test/client/impl/ConfStringParserTest.java
Labels: Bug, Java, ILP, Compatibility, Friction

#4639 feat(http): add support for `nm=true` query parameter in text export (/exp) to exclude metadata
  core/src/main/java/io/questdb/cutlass/http/processors/TextQueryProcessor.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
Labels: Enhancement, REST API, Java

#4641 feat(sql): reintroduce flush_query_cache function
  core/src/main/java/io/questdb/MessageBus.java
  core/src/main/java/io/questdb/MessageBusImpl.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/FlushQueryCacheJob.java
  core/src/main/java/io/questdb/cutlass/Services.java
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireServer.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/FlushQueryCacheFunctionFactory.java
  core/src/main/java/io/questdb/std/AssociativeCache.java
  core/src/main/java/io/questdb/std/ConcurrentAssociativeCache.java
  core/src/main/java/io/questdb/std/NoOpAssociativeCache.java
  core/src/main/java/io/questdb/std/SimpleAssociativeCache.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainFlushQueryCacheTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/std/AssociativeCacheTest.java
  core/src/test/resources/server.conf
Labels: Enhancement, SQL

#4658 perf(sql): support timestamp literals in JIT compiler
  core/src/main/java/io/questdb/jit/CompiledFilterIRSerializer.java
  core/src/test/java/io/questdb/test/griffin/CompiledFilterRegressionTest.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/WhereClauseParserTest.java
  core/src/test/java/io/questdb/test/jit/CompiledFilterIRSerializerTest.java
Labels: SQL, Performance

#4682 perf(sql): support ksum and nsum functions in parallel GROUP BY
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/KSumDoubleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/KSumDoubleGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/NSumDoubleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/NSumDoubleGroupByFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/ParallelGroupByFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/GroupByFunctionCaseTest.java
Labels: Enhancement, SQL, Performance

#4634 chore(core): make telemetry tables public
  core/src/main/java/io/questdb/TelemetryConfigLogger.java
  core/src/main/java/io/questdb/cairo/AbstractTableNameRegistry.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/TableConverter.java
  core/src/main/java/io/questdb/cairo/TableFlagResolver.java
  core/src/main/java/io/questdb/cairo/TableFlagResolverImpl.java
  core/src/main/java/io/questdb/cairo/TableNameRegistryRO.java
  core/src/main/java/io/questdb/cairo/TableNameRegistryRW.java
  core/src/main/java/io/questdb/cairo/TableNameRegistryStore.java
  core/src/main/java/io/questdb/cairo/TableToken.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/test/java/io/questdb/test/cairo/TableFlagsResolverTest.java
  core/src/test/java/io/questdb/test/cairo/TableNameRegistryTest.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalTableSqlTest.java
Labels: tandem

#4685 fix(pgwire): Fix for querying VARCHAR columns via sqlx::postgres in Rust
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGOids.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, Postgres Wire

#4669 fix(core): prevent ugly error message when log directory does not exist
  core/src/main/bin/questdb.exe
  core/src/main/bin/questdb.sh
  core/src/main/java/io/questdb/Bootstrap.java
  win64svc/src/questdb.c
Labels: Bug, Java, regression

#4661 perf(sql): JIT-optimise `IN(numeric values)` operator
  core/src/main/java/io/questdb/jit/CompiledFilterIRSerializer.java
  core/src/test/java/io/questdb/test/griffin/ClickBenchTest.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/NoOpGroupByTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByWithFilterTest.java
  core/src/test/java/io/questdb/test/griffin/ParallelFilterTest.java
  core/src/test/java/io/questdb/test/jit/CompiledFilterIRSerializerTest.java
Labels: SQL, Performance

#4637 fix(sql): fix invalid column error in group by with join
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/test/java/io/questdb/test/griffin/GroupByTest.java
  core/src/test/java/io/questdb/test/griffin/JoinTest.java
Labels: Bug, SQL

#4676 perf(sql): optimise aggregate query with LAST function on designated timestamp
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
Labels: SQL, Performance

#4721 test(sql): stabilize flaky test - testServerMainShowPartitions()
  core/src/test/java/io/questdb/test/ServerMainShowPartitionsTest.java
Labels: Bug, Java, Flaky Test

#4718 chore(sql): improve specialized hash table creation logic
  benchmarks/src/main/java/org/questdb/MapReadLongBenchmark.java
  benchmarks/src/main/java/org/questdb/MapWriteLongBenchmark.java
  core/src/main/java/io/questdb/cairo/map/MapFactory.java
  core/src/main/java/io/questdb/cairo/map/Unordered16Map.java
  core/src/main/java/io/questdb/cairo/map/Unordered16MapCursor.java
  core/src/main/java/io/questdb/cairo/map/Unordered16MapRecord.java
  core/src/main/java/io/questdb/cairo/map/Unordered16MapValue.java
  core/src/test/java/io/questdb/test/cairo/map/MapTest.java
  core/src/test/java/io/questdb/test/cairo/map/Unordered16MapTest.java
  core/src/test/java/io/questdb/test/tools/TestDefaults.java
Labels: SQL

#4711 fix(http): Ensure REST interface consistently returns HTTP 408 on timeouts
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
Labels: Bug, REST API, Flaky Test

#4699 fix(core): fix insert default column order after column type change
  core/src/main/java/io/questdb/cairo/GenericTableRecordMetadata.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/wal/WalWriterMetadata.java
  core/src/main/java/io/questdb/cairo/wal/seq/SequencerMetadata.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableRecordMetadataSink.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableSequencerImpl.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/test/java/io/questdb/test/cutlass/http/MetricsIODispatcherTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableChangeColumnTypeTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCompilerImplTest.java
Labels: Bug, SQL
