Repository questdb/questdb, pull requests merged in 2024-10, with the labels that each got.

#5003 chore(sql): remove unnecessary round function calls in FillRangeRecordCursor
  core/src/main/java/io/questdb/griffin/engine/groupby/FillRangeRecordCursorFactory.java
Labels: SQL

#4979 test(pgwire): infrastructure to run Python and Rust tests
  .github/workflows/pgwire_latest.yml
  .github/workflows/pgwire_stable.yml
  compat/src/test/python/common.py
  compat/src/test/python/requirements_asyncpg_latest.txt
  compat/src/test/python/requirements_asyncpg_stable.txt
  compat/src/test/python/requirements_psycopg2_latest.txt
  compat/src/test/python/requirements_psycopg2_stable.txt
  compat/src/test/python/requirements_psycopg3_latest.txt
  compat/src/test/python/requirements_psycopg3_stable.txt
  compat/src/test/python/runner_asyncpg.py
  compat/src/test/python/runner_psycopg2.py
  compat/src/test/python/runner_psycopg3.py
  compat/src/test/resources/test_cases.yaml
  compat/src/test/rust/scenarios/Cargo.toml
  compat/src/test/rust/scenarios/Cargo.unlocked
  compat/src/test/rust/scenarios/readme.txt
  compat/src/test/rust/scenarios/src/main.rs
Labels: SQL, Postgres Wire, Compatibility

#5017 fix(sql): missing UUID and IPv4 literal support in coalesce function and switch statement
  core/src/main/java/io/questdb/griffin/SqlUtil.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastIntToIPv4FunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastStrToIPv4FunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastStrToUuidFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastVarcharToIPv4FunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/CaseCommon.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/CoalesceFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/SwitchFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/IPv4Test.java
  core/src/test/java/io/questdb/test/griffin/OrderByRadixSortTest.java
  core/src/test/java/io/questdb/test/griffin/SqlUtilTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/conditional/CaseFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/conditional/CoalesceFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/conditional/SwitchFunctionFactoryTest.java
Labels: Bug, SQL

#5018 fix(sql): race in parallel group by with many groups
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByIntHashSet.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByLong128HashSet.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByLong256HashSet.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByLongHashSet.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByMergeShardJob.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilterAtom.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByAtom.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByNotKeyedAtom.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByNotKeyedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncJitFilteredRecordCursorFactory.java
  core/src/test/java/io/questdb/test/ServerMainQuerySmokeTest.java
Labels: Bug, SQL

#5023 perf(sql): avoid redundant bytecode generation in parallel GROUP BY
  core/src/main/java/io/questdb/cairo/RecordSinkFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByFunctionsUpdaterFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByAtom.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByNotKeyedAtom.java
  core/src/main/java/io/questdb/std/BytecodeAssembler.java
Labels: SQL, Performance

#5008 chore(sql): fix non-timezone aware test
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
Labels: Bug, Flaky Test

#4993 fix(sql): NullPointerException in symbol to int comparison
  core/src/main/java/io/questdb/cairo/ColumnType.java
  core/src/main/java/io/questdb/griffin/engine/functions/SymbolFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/lt/LtIntFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/lt/LtTimestampFunctionFactory.java
  core/src/main/java/io/questdb/griffin/model/IntervalUtils.java
  core/src/main/java/io/questdb/griffin/model/RuntimeIntervalModel.java
  core/src/main/java/io/questdb/jit/CompiledFilterIRSerializer.java
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/test/jit/CompiledFilterIRSerializerTest.java
Labels: Bug, SQL, Performance

#5016 test(core): fix mem leak in VectTest
  core/src/main/java/io/questdb/network/Net.java
  core/src/test/java/io/questdb/test/std/VectTest.java
Labels: Java, Core

#5027 chore(sql): make test function exclusion check more robust, so it doesn't catch "greatest" as a test function
  core/src/main/java/io/questdb/griffin/FunctionFactoryCache.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/GreatestNumericFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/LeastNumericFunctionFactory.java
Labels: Bug, SQL

#4990 fix(sql): bug in SAMPLE BY queries after a query cache hit
  .idea/codeStyles/Project.xml
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/groupby/FillRangeRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/TimestampSamplerFactory.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/TimestampSamplerFactoryTest.java
Labels: Bug, SQL

#5038 chore(core): robust APFS check
  core/src/main/c/freebsd/files.c
  core/src/main/resources/io/questdb/bin/darwin-aarch64/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/darwin-x86-64/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/windows-x86-64/libquestdb.dll
Labels: Compatibility

#5039 fix(sql): fix unexpected timeouts, error messages in parallel query execution
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/sql/AtomicBooleanCircuitBreaker.java
  core/src/main/java/io/questdb/cairo/sql/NetworkSqlExecutionCircuitBreaker.java
  core/src/main/java/io/questdb/cairo/sql/SqlExecutionCircuitBreaker.java
  core/src/main/java/io/questdb/cairo/sql/SqlExecutionCircuitBreakerWrapper.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceJob.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameSequence.java
  core/src/main/java/io/questdb/cairo/wal/ApplyWal2TableJob.java
  core/src/main/java/io/questdb/cairo/wal/OperationExecutor.java
  core/src/main/java/io/questdb/mp/WorkerPoolUtils.java
  core/src/main/java/io/questdb/std/MemoryTag.java
  core/src/test/java/io/questdb/test/EmbeddedApiTest.java
  core/src/test/java/io/questdb/test/StaticOverrides.java
  core/src/test/java/io/questdb/test/cairo/Overrides.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/griffin/CheckpointTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByTimeoutTest.java
  core/src/test/java/io/questdb/test/griffin/SecurityTest.java
  core/src/test/java/io/questdb/test/griffin/UpdateTest.java
  core/src/test/java/io/questdb/test/griffin/engine/QueryExecutionTimeoutTest.java
  core/src/test/java/io/questdb/test/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/wal/DedupInsertFuzzTest.java
  core/src/test/java/io/questdb/test/mp/TestWorkerPool.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Bug, SQL

#5031 chore(http): signal empty query as a notice, not an error
  core/src/main/java/io/questdb/cutlass/http/HttpConstants.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
Labels: Enhancement, REST API

#5055 fix(sql): infinite loop on error in parallel filter and group by queries
  core/src/main/java/io/questdb/cairo/sql/PageFrameMemoryRecord.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceJob.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameSequence.java
  core/src/main/java/io/questdb/cairo/vm/AbstractMemoryCR.java
  core/src/main/java/io/questdb/cairo/vm/api/MemoryCR.java
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/engine/EmptyTableRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/QueryProgress.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilterAtom.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByRecordCursor.java
  core/src/main/java/io/questdb/std/DirectIntList.java
  core/src/main/java/io/questdb/std/DirectLongList.java
  core/src/main/java/io/questdb/std/str/Utf8SplitString.java
  core/src/test/java/io/questdb/test/griffin/ParallelGroupByFuzzTest.java
Labels: SQL

#5045 feat(sql): breaking change 💥 - support for count(distinct col) and string_agg(distinct col)
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/test/java/io/questdb/test/griffin/AggregateTest.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/ExpressionParserTest.java
  core/src/test/java/io/questdb/test/griffin/FunctionParserTest.java
  core/src/test/java/io/questdb/test/griffin/GroupByTest.java
  core/src/test/java/io/questdb/test/griffin/IPv4Test.java
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/UuidTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/ApproxCountDistinctIntGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctIntGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctLong256GroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctLongGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctSymbolGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctUuidGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountLong256GroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountStringGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountSymbolGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/StringAggGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/StringDistinctAggGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/StringDistinctAggSymbolGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/StringDistinctAggVarcharGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/json/JsonExtractVarcharFunctionFactoryTest.java
Labels: Enhancement, SQL

#5058 fix(core): fix phantom select query errors caused by concurrent partition squashing
  core/src/main/java/io/questdb/DynamicPropServerConfiguration.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/O3PartitionPurgeJob.java
  core/src/main/java/io/questdb/cairo/PartitionOverwriteControl.java
  core/src/main/java/io/questdb/cairo/TableReader.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/TxReader.java
  core/src/main/java/io/questdb/cairo/pool/ReaderPool.java
  core/src/main/java/io/questdb/std/Files.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/Overrides.java
  core/src/test/java/io/questdb/test/griffin/wal/FuzzRunner.java
Labels: Bug, Core

#5043 fix(sql): resolve inconsistencies in interaction between web console and static metadata cache
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/DatabaseCheckpointAgent.java
  core/src/main/java/io/questdb/cairo/MetadataCache.java
  core/src/main/java/io/questdb/cairo/MetadataCacheReader.java
  core/src/main/java/io/questdb/cairo/MetadataCacheWriter.java
  core/src/main/java/io/questdb/cairo/TableConverter.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableSequencerImpl.java
  core/src/main/java/io/questdb/cutlass/text/ParallelCsvFileImporter.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/AllTablesFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/InformationSchemaColumnsFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/PgAttributeFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/TablesFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/table/HydrateTableMetadataFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/ShowColumnsRecordCursorFactory.java
  core/src/main/java/io/questdb/std/CharSequenceObjHashMap.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/CreateTableTestUtils.java
  core/src/test/java/io/questdb/test/cairo/CairoMetadataCacheTest.java
  core/src/test/java/io/questdb/test/cairo/MetadataCacheTest.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/griffin/CheckpointTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/InformationSchemaColumnsFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/TablesFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Bug, SQL

#5021 feat(sql): add `regr_slope()` SQL function
  core/src/main/java/io/questdb/griffin/engine/functions/finance/RegressionSlopeFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/ParallelGroupByFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/finance/RegressionSlopeFunctionFactoryTest.java
  core/src/test/resources/sqllogictest/test/sql/test_regression.test
Labels: SQL

#5076 chore(sql): relocate `regr_slope()`
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/RegressionSlopeFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
Labels: SQL

#5072 perf(sql): parallelise sample and population variance
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarPopGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarPopGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarSampleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VarSampleGroupByFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/ParallelGroupByFuzzTest.java
  core/src/test/resources/sqllogictest/test/sql/test_var.test
Labels: Enhancement, SQL, Performance

#5075 perf(sql): parallelise sample and population standard deviation
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevPopGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevPopGroupByFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevSampleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StdDevSampleGroupByFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/ParallelGroupByFuzzTest.java
  core/src/test/resources/sqllogictest/test/sql/test_stddev.test
Labels: Enhancement, SQL, Performance

#5074 perf(sql): parallelise sample and population covariance
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/AbstractCovarGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CovarPopGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CovarSampleGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CovarSampleGroupByFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/ParallelGroupByFuzzTest.java
  core/src/test/resources/sqllogictest/test/sql/test_covar.test
Labels: Enhancement, SQL, Performance

#5086 fix(core): potential transaction leak in table reader/writer initialization on ZFS
  .gitignore
  core/src/main/c/share/dedup_comparers.h
  core/src/main/c/share/files.c
  core/src/main/c/share/txn_board.cpp
  core/src/main/java/io/questdb/cairo/TxnScoreboard.java
  core/src/main/resources/io/questdb/bin/darwin-aarch64/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/darwin-x86-64/libquestdb.dylib
  core/src/main/resources/io/questdb/bin/linux-aarch64/libquestdb.so
  core/src/main/resources/io/questdb/bin/linux-x86-64/libquestdb.so
  core/src/main/resources/io/questdb/bin/windows-x86-64/libquestdb.dll
  core/src/test/java/io/questdb/test/FilesTest.java
  core/src/test/java/io/questdb/test/cairo/TxnScoreboardTest.java
Labels: Bug, Core

#5090 fix(core): fix rare failure to restore from checkpoint, triggered by indexed column being created while checkpoint in progress
  core/src/main/java/io/questdb/cairo/TableWriter.java
Labels: Bug, Core

#5079 perf(sql): parallelise correlation
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CorrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CorrGroupByFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/ParallelGroupByFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CorrGroupByFunctionFactoryTest.java
  core/src/test/resources/sqllogictest/test/sql/test_corr.test
Labels: Enhancement, SQL, Performance

#5106 fix(sql): cap `string_agg()` memory use to the "strFunctionMaxBufferLength" value
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StringAggGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/StringAggGroupByFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/StringAggGroupByFunctionFactoryTest.java
Labels: SQL

#5110 chore(sql): simplify group-by SQL assembly
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByUtils.java
Labels: SQL

#5115 perf(core): replace unconditional txn sync with a conditional one. 10x improvement of ingress perf for small transactions
  benchmarks/src/main/java/org/questdb/UnorderedVarcharMapBenchmark.java
  core/src/main/java/io/questdb/cairo/IndexBuilder.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/vm/MemoryPMARImpl.java
  core/src/main/java/io/questdb/cairo/vm/Vm.java
  core/src/main/java/io/questdb/cairo/wal/WalEventWriter.java
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/java/io/questdb/cairo/wal/seq/SequencerMetadata.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableSequencerAPI.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableSequencerImpl.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableTransactionLog.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableTransactionLogFile.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableTransactionLogV1.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableTransactionLogV2.java
  core/src/main/java/io/questdb/cutlass/text/CsvFileIndexer.java
  core/src/main/java/io/questdb/std/SimpleReadWriteLock.java
  core/src/test/java/io/questdb/test/cairo/CairoMemoryTest.java
  core/src/test/java/io/questdb/test/cairo/MemRemappedFileTest.java
  core/src/test/java/io/questdb/test/cairo/TableReaderMetadataCorruptionTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalWriterTest.java
  core/src/test/java/io/questdb/test/wal/TableTransactionLogFuzzTest.java
Labels: Performance, Postgres Wire, ILP

#5112 chore(sql): revise places where table-level DDLs are applied to the metadata cache
  core/src/main/java/io/questdb/cairo/AbstractTableNameRegistry.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/CairoTable.java
  core/src/main/java/io/questdb/cairo/MetadataCache.java
  core/src/main/java/io/questdb/cairo/TableNameRegistryRO.java
  core/src/main/java/io/questdb/cairo/TableNameRegistryRW.java
  core/src/test/java/io/questdb/test/cairo/TableNameRegistryTest.java
  core/src/test/java/io/questdb/test/cairo/TableWriterTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalWriterTest.java
Labels: SQL, tandem

#5118 feat(sql): introduce latency configuration to ensure small batch commit visibility is upheld
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByAtom.java
  core/src/main/java/io/questdb/mp/Worker.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/griffin/AbstractO3Test.java
  core/src/test/java/io/questdb/test/griffin/O3FailureTest.java
  core/src/test/resources/server.conf
Labels: SQL, Core
