Repository questdb/questdb, pull requests merged in 2024-08, with the labels that each got.

#4817 feat(sql): add table_storage() functionality
  core/src/main/java/io/questdb/griffin/engine/functions/table/TableStorageFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/TableStorageRecordCursorFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/ServerMainShowPartitionsTest.java
  core/src/test/java/io/questdb/test/griffin/ShowPartitionsTest.java
  core/src/test/java/io/questdb/test/griffin/ShowTableStorageTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: New feature, SQL

#4849 fix(sql): fix edge case when using parallel sample by with fill
  core/rust/qdbr/src/parquet_write/jni.rs
  core/src/main/java/io/questdb/griffin/engine/groupby/FillRangeRecordCursorFactory.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
Labels: Bug, SQL

#4846 fix(sql): fix file does not exist error on updates
  core/src/main/java/io/questdb/cairo/CairoException.java
  core/src/main/java/io/questdb/cairo/TableReader.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/wal/CopyWalSegmentUtils.java
  core/src/main/java/io/questdb/cairo/wal/SegmentColumnRollSink.java
  core/src/main/java/io/questdb/cairo/wal/WalPurgeJob.java
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/java/io/questdb/griffin/ConvertOperatorImpl.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/UpdateOperatorImpl.java
  core/src/test/java/io/questdb/test/ServerMainBackupDatabaseTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalWriterTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableAttachPartitionTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableO3MaxLagTest.java
  core/src/test/java/io/questdb/test/griffin/ReaderReloadTest.java
  core/src/test/java/io/questdb/test/griffin/UpdateFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/engine/table/parquet/ReadParquetFunctionTest.java
  core/src/test/java/io/questdb/test/griffin/wal/WalWriterFuzzTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Bug, SQL, Core

#4858 perf(sql): optimize queries with virtual columns, filter, and limit
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/griffin/DistinctWithLimitTest.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/LimitTest.java
Labels: SQL, Performance

#4818 chore(core): OSS refactoring for ROPC flow support
  core/src/main/java/io/questdb/DynamicUsernamePasswordMatcher.java
  core/src/main/java/io/questdb/cutlass/auth/AnonymousAuthenticator.java
  core/src/main/java/io/questdb/cutlass/auth/Authenticator.java
  core/src/main/java/io/questdb/cutlass/auth/DefaultLineAuthenticatorFactory.java
  core/src/main/java/io/questdb/cutlass/auth/EllipticCurveAuthenticatorFactory.java
  core/src/main/java/io/questdb/cutlass/auth/LineAuthenticatorFactory.java
  core/src/main/java/io/questdb/cutlass/auth/SocketAuthenticator.java
  core/src/main/java/io/questdb/cutlass/auth/UsernamePasswordMatcher.java
  core/src/main/java/io/questdb/cutlass/http/AnonymousHttpAuthenticator.java
  core/src/main/java/io/questdb/cutlass/http/HttpAuthenticator.java
  core/src/main/java/io/questdb/cutlass/http/StaticHttpAuthenticator.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/line/tcp/auth/EllipticCurveAuthenticator.java
  core/src/main/java/io/questdb/cutlass/pgwire/CleartextPasswordPgWireAuthenticator.java
  core/src/main/java/io/questdb/cutlass/pgwire/DefaultPgWireAuthenticatorFactory.java
  core/src/main/java/io/questdb/cutlass/pgwire/NeverMatchUsernamePasswordMatcher.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireServer.java
  core/src/main/java/io/questdb/cutlass/pgwire/PgWireAuthenticatorFactory.java
  core/src/test/java/io/questdb/test/ServerMainQuerySmokeTest.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpSecurityTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGErrorHandlingTest.java
Labels: Security, tandem

#4866 fix(sql): NullPointerException thrown on SAMPLE BY query with constant key
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
Labels: Bug, SQL

#4821 feat(sql): replaced `SNAPSHOT` SQL with `CHECKPOINT` to reduce confusion
  core/docker-entrypoint.sh
  core/src/main/java/io/questdb/Bootstrap.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/ColumnPurgeJob.java
  core/src/main/java/io/questdb/cairo/DatabaseCheckpointAgent.java
  core/src/main/java/io/questdb/cairo/DatabaseCheckpointStatus.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/O3PartitionPurgeJob.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/pool/WriterPool.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/text/CopyTask.java
  core/src/main/java/io/questdb/cutlass/text/ParallelCsvFileImporter.java
  core/src/main/java/io/questdb/griffin/CompiledQuery.java
  core/src/main/java/io/questdb/griffin/CompiledQueryImpl.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/InformationSchemaTablesFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/ShowTablesFunctionFactory.java
  core/src/main/java/io/questdb/mp/WorkerPoolUtils.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/CairoTestConfiguration.java
  core/src/test/java/io/questdb/test/cairo/pool/WriterPoolTest.java
  core/src/test/java/io/questdb/test/cutlass/http/SettingsEndpointTest.java
  core/src/test/java/io/questdb/test/cutlass/line/udp/LinuxLineUdpProtoReceiverTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGSecurityTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableAttachPartitionFromSoftLinkTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableDetachPartitionTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableDropActivePartitionTest.java
  core/src/test/java/io/questdb/test/griffin/CheckpointTest.java
  core/src/test/java/io/questdb/test/griffin/CheckpointWindowsTest.java
  core/src/test/java/io/questdb/test/griffin/O3PartitionPurgeTest.java
  core/src/test/java/io/questdb/test/griffin/VacuumTablePartitionTest.java
  core/src/test/java/io/questdb/test/griffin/wal/CheckpointFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/wal/FuzzRunner.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: Enhancement, SQL

#4840 chore(sql): streamline table_storage() meta function
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TxReader.java
  core/src/main/java/io/questdb/griffin/engine/table/TableStorageRecordCursorFactory.java
  core/src/main/java/io/questdb/std/str/Path.java
  core/src/test/java/io/questdb/test/griffin/ShowTableStorageTest.java
Labels: SQL

#4864 fix(sql): fix error when using sample by with fill(none)
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
Labels: Bug, SQL

#4869 feat(sql): checkpoint_status function for read-only checks of in-progress checkpoint
  benchmarks/src/main/java/org/questdb/TableReaderReloadBenchmark.java
  benchmarks/src/main/java/org/questdb/TableWriterBenchmark.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/ColumnPurgeJob.java
  core/src/main/java/io/questdb/cairo/DatabaseCheckpointAgent.java
  core/src/main/java/io/questdb/cairo/DatabaseCheckpointStatus.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/CheckpointStatusFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/CheckpointTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: New feature, SQL

#4850 fix(sql): improve query behaviour when using non-constant FROM clauses in SAMPLE BY
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
Labels: Bug, SQL

#4876 fix(ilp): fix incorrect storage of non-ascii characters that can lead to incorrect SQL results
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpEventBuffer.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpMeasurementEvent.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpParser.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineWalAppender.java
  core/src/main/java/io/questdb/cutlass/line/tcp/TableUpdateDetails.java
  core/src/main/java/module-info.java
  core/src/test/java/io/questdb/test/ServerMainBackupDatabaseTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpBootstrapTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpParser2Test.java
Labels: Bug, ILP

#4801 feat(sql): add support for weighted mid price
  core/src/main/java/io/questdb/griffin/engine/functions/finance/WeightedMidPriceFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/engine/functions/finance/WeightedMidPriceFunctionFactoryTest.java
Labels: Enhancement, SQL

#4865 chore(core): reduce default number of WAL apply threads
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpBootstrapTest.java
Labels: Core

#4879 fix(core): fix pgwire float precision for text format
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cutlass/http/DefaultHttpServerConfiguration.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGConnectionContext.java
  core/src/main/java/io/questdb/griffin/engine/functions/bind/BindVariableServiceImpl.java
  core/src/main/java/io/questdb/griffin/engine/functions/bind/StrBindVariable.java
  core/src/main/java/io/questdb/griffin/engine/functions/bind/VarcharBindVariable.java
  core/src/main/java/io/questdb/std/Numbers.java
  core/src/main/java/io/questdb/std/str/CharSink.java
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpServerConfigurationBuilder.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/bind/BindVariableServiceImplTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/bind/StrBindVariableTest.java
  core/src/test/java/io/questdb/test/std/NumbersTest.java
Labels: Bug, Postgres Wire

#4883 chore(core): remove state from pwd matcher to fix flapping test
  core/src/main/c/share/zlib-1.2.8/gzlib.c
  core/src/main/java/io/questdb/DynamicUsernamePasswordMatcher.java
  core/src/main/java/io/questdb/cairo/SecurityContext.java
  core/src/main/java/io/questdb/cutlass/auth/UsernamePasswordMatcher.java
  core/src/main/java/io/questdb/cutlass/pgwire/CleartextPasswordPgWireAuthenticator.java
Labels: Security, tandem

#4871 perf(sql): optimize like/ilike/regexp functions on symbol column
  core/src/main/java/io/questdb/griffin/engine/functions/eq/EqSymStrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/regex/AbstractLikeStrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/regex/AbstractLikeSymbolFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/regex/AbstractLikeVarcharFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/regex/MatchSymbolFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/regex/ILikeStrFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/regex/ILikeSymbolFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/regex/ILikeVarcharFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/regex/LikeStrFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/regex/LikeSymbolFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/regex/LikeVarcharFunctionFactoryTest.java
Labels: Bug, SQL, Performance

#4903 ci(build): improve method of installing LLVM coverage tools
  ci/templates/install-llvm.yml
  ci/templates/steps.yml
  ci/test-pipeline.yml
  core/src/main/java/io/questdb/std/histogram/org/HdrHistogram/package-info.java
Labels: Enhancement, CI
