Repository questdb/questdb, pull requests merged in 2025-09, with the labels that each got.

#6087 fix(core): fix rare index reader memory on partition drop
  core/src/main/java/io/questdb/cairo/TableReader.java
Labels: Bug, Core

#6091 test(sql): fix flaky FuzzValidateSymbolFilterOperation
  core/src/test/java/io/questdb/test/fuzz/FuzzValidateSymbolFilterOperation.java
Labels: Flaky Test

#6104 fix(core): fix spurious "cannot mmap" errors
  core/src/main/java/io/questdb/cairo/AbstractIndexReader.java
  core/src/main/java/io/questdb/cairo/SymbolMapReaderImpl.java
  core/src/main/java/io/questdb/cairo/TableReader.java
  core/src/main/java/io/questdb/cairo/TxReader.java
  core/src/main/java/io/questdb/cairo/vm/AbstractMemoryCR.java
  core/src/main/java/io/questdb/cairo/vm/MemoryCMRImpl.java
  core/src/main/java/io/questdb/cairo/vm/MemoryPMARImpl.java
  core/src/main/java/io/questdb/cairo/vm/NullMemoryCMR.java
  core/src/main/java/io/questdb/cairo/vm/api/MemoryM.java
  core/src/test/java/io/questdb/test/DynamicPropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/cairo/BitmapIndexTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewFuzzTest.java
Labels: Bug, Core

#6136 test(core): skip FilesTest.testAllocateConcurrent() on tmpfs
  core/src/main/java/io/questdb/std/Files.java
  core/src/test/java/io/questdb/test/FilesTest.java
Labels: CI

#6163 chore(core): bypass Fd Cache for WAL, sequencer files when WAL file descriptors cache is switched off
  core/rust/qdb-core/src/byte_util.rs
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/SymbolMapUtil.java
  core/src/main/java/io/questdb/cairo/TableReader.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/TableWriterSegmentFileCache.java
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshJob.java
  core/src/main/java/io/questdb/cairo/mv/WalTxnRangeLoader.java
  core/src/main/java/io/questdb/cairo/vm/MemoryCMORImpl.java
  core/src/main/java/io/questdb/cairo/vm/MemoryCMRImpl.java
  core/src/main/java/io/questdb/cairo/vm/Vm.java
  core/src/main/java/io/questdb/cairo/wal/ApplyWal2TableJob.java
  core/src/main/java/io/questdb/cairo/wal/WalEventReader.java
  core/src/main/java/io/questdb/cairo/wal/WalReader.java
  core/src/main/java/io/questdb/cairo/wal/WalTxnDetails.java
  core/src/main/java/io/questdb/cairo/wal/WalUtils.java
  core/src/main/java/io/questdb/cairo/wal/seq/SequencerMetadata.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableSequencerImpl.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableTransactionLog.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableTransactionLogV1.java
  core/src/test/java/io/questdb/test/cairo/fuzz/AbstractFuzzTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalWriterTest.java
Labels: tandem, ent-next

#6164 chore(core): reject unhandled HTTP requests if there is no default processor
  core/src/main/java/io/questdb/cutlass/http/HttpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/http/HttpRequestProcessorSelector.java
  core/src/main/java/io/questdb/cutlass/http/HttpRequestValidator.java
  core/src/main/java/io/questdb/cutlass/http/HttpServer.java
  core/src/main/java/io/questdb/cutlass/http/processors/RejectProcessorImpl.java
  core/src/test/java/io/questdb/test/cutlass/http/HttpServerTest.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/http/WaitProcessorTest.java
Labels: ent-next

#5586 fix(sql): improve null-handling of `INSERT INTO SELECT` queries that rely on implicit casting
  core/src/main/java/io/questdb/cairo/ColumnType.java
  core/src/main/java/io/questdb/griffin/RecordToRowCopierUtils.java
  core/src/main/java/io/questdb/griffin/SqlUtil.java
  core/src/test/java/io/questdb/test/griffin/SqlCompilerImplTest.java
  core/src/test/java/io/questdb/test/griffin/UnionTest.java
Labels: Bug, SQL, Core

#6190 fix(ilp): avoid closing connection on protocol errors
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpMeasurementScheduler.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpReceiverTest.java
Labels: Bug, ILP

#6206 chore(core): polymorphic AsOfJoinIndexedRecordCursorFactory
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/join/AsOfJoinIndexedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/ChainedSymbolShortCircuit.java
  core/src/main/java/io/questdb/griffin/engine/join/DisabledSymbolShortCircuit.java
  core/src/main/java/io/questdb/griffin/engine/join/SingleStringSymbolShortCircuit.java
  core/src/main/java/io/questdb/griffin/engine/join/SingleSymbolSymbolShortCircuit.java
  core/src/main/java/io/questdb/griffin/engine/join/SingleVarcharSymbolShortCircuit.java
  core/src/main/java/io/questdb/griffin/engine/join/SymbolShortCircuit.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinTest.java
Labels: SQL
