Repository questdb/questdb, pull requests merged in 2025-04, with the labels that each got.

#5542 chore(core): merge identical mem.getDirectVarcharA/B
  core/src/main/java/io/questdb/cairo/VarcharTypeDriver.java
  core/src/main/java/io/questdb/cairo/file/BlockFileReader.java
  core/src/main/java/io/questdb/cairo/vm/AbstractMemoryCR.java
  core/src/main/java/io/questdb/cairo/vm/NullMemoryCMR.java
  core/src/main/java/io/questdb/cairo/vm/api/MemoryR.java
  core/src/main/java/io/questdb/cairo/wal/WalEventCursor.java
Labels: Enhancement, Core

#5548 fix(http): unhandled NullPointerException on SQL query error
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/engine/window/WindowFunctionTest.java
Labels: Bug, REST API

#5571 chore(sql): fix startup errors migrating telemetry_config
  core/src/main/java/io/questdb/TelemetryConfigLogger.java
Labels: Bug

#5572 fix(sql): improve error handling for malformed SQL queries
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
Labels: Bug, Java

#5566 fix(sql): breaking change 💥 - remove some ipv4 operator functions.
  core/src/main/java/io/questdb/griffin/FunctionFactory.java
  core/src/main/java/io/questdb/griffin/FunctionFactoryDescriptor.java
  core/src/main/java/io/questdb/griffin/FunctionParser.java
  core/src/main/java/io/questdb/griffin/engine/functions/CharFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/SwappingArgsFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToBooleanFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToByteFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToDateFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToDoubleFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToFloatFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToIntFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToLong256FunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToLongFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToShortFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/cast/CastCharToTimestampFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/eq/EqIPv4StrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/lt/LtIPv4StrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/BitwiseAndIPv4StrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/BitwiseAndStrIPv4FunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/BitwiseNotIPv4StrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/BitwiseOrIPv4StrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/BitwiseOrStrIPv4FunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/IPv4MinusIPv4StrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/IPv4StrMinusIPv4FunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/IPv4StrMinusIPv4StrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/IPv4StrMinusIntFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/IPv4StrPlusIntFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/IntPlusIPv4StrFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/rnd/RndUuidFunctionFactory.java
  core/src/main/resources/function_list.txt
  core/src/test/java/io/questdb/test/griffin/IPv4Test.java
  core/src/test/java/io/questdb/test/griffin/InTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCompilerImplTest.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/UnionAllCastTest.java
  core/src/test/java/io/questdb/test/griffin/UpdateTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/CharFunctionTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/cast/CastTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/AddIntFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/SubIntFunctionFactoryTest.java
Labels: Bug, SQL

#5573 fix(core): fix `cannot invoke "io.questdb.network.Epoll.close()"` error
  core/src/main/java/io/questdb/network/IODispatcherLinux.java
  core/src/main/java/io/questdb/network/IODispatcherWindows.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
Labels: Bug

#5553 perf(sql): expanded fast-path support for non-keyed ASOF JOINs
  core/src/main/java/io/questdb/cairo/sql/RecordCursorFactory.java
  core/src/main/java/io/questdb/cairo/sql/TimeFrameRecordCursor.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/join/AbstractAsOfJoinFastRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/join/AsOfJoinFastRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/join/FilteredAsOfJoinNoKeyFastRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/FwdTableReaderPageFrameCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/PageFrameRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/SelectedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/TimeFrameRecordCursorImpl.java
  core/src/main/java/io/questdb/jit/CompiledFilter.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinTest.java
  core/src/test/java/io/questdb/test/griffin/CompiledFilterRegressionTest.java
  core/src/test/java/io/questdb/test/griffin/TimeFrameRecordCursorTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: SQL, Performance, Java

#5595 fix(pgwire): fix edge-case protocol violation when a pipeline starts with Close message
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGConnectionContextModern.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGPipelineEntry.java
Labels: Bug, Postgres Wire

#5604 fix(sql): add reset query timeout timer before `checkpoint create`
  core/src/main/java/io/questdb/cairo/CairoException.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
Labels: Bug

#5606 fix(sql): fix internal error with some ASOF JOINs
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/join/FilteredAsOfJoinNoKeyFastRecordCursorFactory.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinFuzzTest.java
Labels: Bug, SQL

#5613 feat(sql): skip unchanged sample by intervals in materialized view incremental refresh
  benchmarks/src/main/java/org/questdb/SampleByIntervalIteratorBenchmark.java
  core/src/main/java/io/questdb/cairo/mv/FixedOffsetIntervalIterator.java
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshJob.java
  core/src/main/java/io/questdb/cairo/mv/SampleByIntervalIterator.java
  core/src/main/java/io/questdb/cairo/mv/TimeZoneIntervalIterator.java
  core/src/main/java/io/questdb/cairo/mv/WalTxnRangeLoader.java
  core/src/main/java/io/questdb/cairo/wal/WalTxnDetails.java
  core/src/main/java/io/questdb/griffin/engine/functions/test/TestTimestampCounterFactory.java
  core/src/main/java/io/questdb/griffin/model/IntervalUtils.java
  core/src/main/java/io/questdb/griffin/model/RuntimeIntervalModelBuilder.java
  core/src/test/java/io/questdb/test/cairo/mv/AbstractIntervalIteratorTest.java
  core/src/test/java/io/questdb/test/cairo/mv/FixedOffsetIntervalIteratorTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/cairo/mv/TimeZoneIntervalIteratorTest.java
  core/src/test/java/io/questdb/test/griffin/model/IntervalUtilsTest.java
Labels: Enhancement, SQL

#5601 chore(sql): update last refresh timestamp on mat view invalidation
  core/src/main/java/io/questdb/cairo/mv/MatViewGraph.java
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshJob.java
  core/src/main/java/io/questdb/cairo/mv/MatViewState.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
Labels: Materialized View

#5622 feat(sql): alter materialized view symbol capacity
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/engine/ops/AlterOperation.java
  core/src/main/java/io/questdb/griffin/engine/ops/AlterOperationBuilder.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalWriterTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableAlterColumnTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableAlterSymbolColumnCacheFlagTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableChangeColumnTypeTest.java
  core/src/test/java/io/questdb/test/griffin/CheckpointTest.java
Labels: Enhancement, SQL, Materialized View

#5626 fix(sql): missing DST gap correction in case of certain sample by intervals
  core/src/main/java/io/questdb/griffin/engine/functions/date/TimestampFloorFromOffsetFunctionFactory.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/date/TimestampFloorFromOffsetFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
Labels: Bug, SQL

#5464 chore(core): refactoring to allow csv import owner param
  core/src/main/java/io/questdb/FactoryProvider.java
  core/src/main/java/io/questdb/cutlass/http/HttpConstants.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextImportProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextImportProcessorState.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextImportRequestHeaderProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/TextImportRequestHeaderProcessorImpl.java
Labels: tandem

#5620 perf(sql): support for Oracle-style SQL hints
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/SqlHints.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/SqlUtil.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/main/java/io/questdb/std/Chars.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinFuzzTest.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinTest.java
  core/src/test/java/io/questdb/test/griffin/SqlHintsTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/test/std/str/CharsTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: SQL, Performance

#5619 chore(sql): ensure materialized view symbol columns inherit symbol capacity from the base table
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/engine/ops/CreateMatViewOperationImpl.java
  core/src/test/java/io/questdb/test/AbstractBootstrapTest.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/AbstractTest.java
  core/src/test/java/io/questdb/test/cairo/mv/CreateMatViewTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewFuzzTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewOomTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewReloadOnRestartTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTelemetryTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/cairo/o3/O3FailureTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalTableFailureTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalTableSqlTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalTableWriterFuzzTest.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/AlterTableSetTypeSuspendedTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/test/griffin/TableBackupTest.java
Labels: Enhancement, SQL, Materialized View
