Repository questdb/questdb, pull requests merged in 2025-02, with the labels that each got.

#5353 fix(http): memory leak when querying tables with changing metadata
  core/src/main/java/io/questdb/cairo/FullBwdPartitionFrameCursorFactory.java
  core/src/main/java/io/questdb/cairo/FullFwdPartitionFrameCursorFactory.java
  core/src/main/java/io/questdb/cairo/IntervalFwdPartitionFrameCursorFactory.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/JsonQueryProcessorState.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/functions/test/TestTableReferenceOutOfDateFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AbstractPageFrameRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/FilterOnExcludedValuesRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/FilterOnSubQueryRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/FilterOnValuesRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/SortedSymbolIndexRecordCursorFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, SQL

#5349 fix(core): edge-case memory leak during disk failure fixed
  core/src/main/java/io/questdb/cairo/TableWriter.java
Labels: Bug, Core

#5365 fix(sql): fix UnsupportedOperationException thrown when sorting an IPv4 column
  core/src/main/java/io/questdb/cairo/sql/PageFrameMemoryRecord.java
  core/src/main/java/io/questdb/cairo/sql/Record.java
  core/src/main/java/io/questdb/cairo/sql/VirtualRecord.java
  core/src/main/java/io/questdb/griffin/engine/groupby/FillRangeRecordCursorFactory.java
  core/src/test/java/io/questdb/test/griffin/OrderByWithFilterTest.java
Labels: Bug, SQL

#5361 fix(sql): `SHOW CREATE TABLE` provides invalid ddl when table is not partitioned
  core/src/main/java/io/questdb/griffin/engine/table/ShowCreateTableRecordCursorFactory.java
  core/src/test/java/io/questdb/test/TelemetryTest.java
  core/src/test/java/io/questdb/test/griffin/ShowCreateTableTest.java
Labels: Bug, SQL

#5334 feat(SQL): refactor `rank()` windowFunction and introduce `dense_rank()` windowFunction
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/BaseDoubleWindowFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/BaseLongWindowFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/DenseRankFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/LagDoubleFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/LeadDoubleFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/RankFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/RowNumberFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/window/WindowFunction.java
  core/src/main/java/io/questdb/griffin/model/WindowColumn.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/engine/window/WindowFunctionTest.java
Labels: New feature, SQL

#5396 fix(pgwire): fix cursor handling for r2dbc-postgresql compatibility
  compat/pom.xml
  compat/src/test/java/io/questdb/compat/R2DBCTest.java
  core/pom.xml
  core/src/main/java/io/questdb/ServerMain.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGConnectionContextModern.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
Labels: Bug, Postgres Wire, Compatibility, PG-Modern

#5402 fix(pgwire): compatibility with PHP PDO client
  .github/workflows/pgwire_stable.yml
  compat/src/test/php/composer.json
  compat/src/test/php/runner.php
  compat/src/test/scenarios_stable.sh
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGConnectionContextModern.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGPipelineEntry.java
Labels: Bug, Postgres Wire

#5418 fix(sql): prevent stale metadata after table DROP and (re-)CREATE
  core/src/main/java/io/questdb/cairo/MetadataCache.java
  core/src/test/java/io/questdb/test/cairo/MetadataCacheTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/ShowTablesTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/InformationSchemaColumnsFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/PgAttributeFunctionFactoryTest.java
Labels: Bug, SQL

#5377 fix(pgwire): fix bind variable values being ignored for `LIMIT` clause
  compat/src/test/resources/test_cases.yaml
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGConnectionContextModern.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGPipelineEntry.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContext.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContextImpl.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/SqlUtil.java
  core/src/main/java/io/questdb/griffin/engine/ExplainPlanFactory.java
  core/src/main/java/io/questdb/griffin/engine/LimitRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/orderby/DynamicLimitCursor.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeLongTreeChain.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizePartiallySortedLightRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeSortedLightRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeSortedLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/orderby/SortedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/DeferredSingleSymbolFilterPageFrameRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/PageFrameRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/main/java/io/questdb/std/Numbers.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/cairo/fuzz/FuzzRunner.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewReloadOnRestartTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/BasePGTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGQuerySuspendTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PgLimitBindVariablesTest.java
  core/src/test/java/io/questdb/test/cutlass/text/SqlExecutionContextStub.java
  core/src/test/java/io/questdb/test/griffin/ClickBenchTest.java
  core/src/test/java/io/questdb/test/griffin/CopyNoMangleTest.java
  core/src/test/java/io/questdb/test/griffin/DistinctWithLimitTest.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/GroupByTest.java
  core/src/test/java/io/questdb/test/griffin/JoinTest.java
  core/src/test/java/io/questdb/test/griffin/LimitTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByAdviceTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByAscRowSkippingTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByDescRowSkippingTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByExpressionTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByNothingRowSkippingTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByWithFilterTest.java
  core/src/test/java/io/questdb/test/griffin/ReaderLeakTest.java
  core/src/test/java/io/questdb/test/griffin/SortAndLimitTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCompilerImplTest.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/test/griffin/UnionTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/PgAttributeFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/ApproxCountDistinctIPv4GroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/ApproxCountDistinctIntGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/ApproxCountDistinctLongGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
  core/src/test/java/io/questdb/test/griffin/engine/orderby/LimitedSizeLongTreeChainTest.java
  core/src/test/java/io/questdb/test/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/table/PageFrameRecordCursorImplFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/window/WindowFunctionTest.java
Labels: Bug, SQL, Postgres Wire

#5408 fix(sql): ordering by alphanumeric columns that start with a number
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/test/java/io/questdb/test/griffin/OrderByExpressionTest.java
Labels: Bug, SQL

#5432 fix(sql): null values returned from index-based non-null filter in backward-scan query
  core/src/main/java/io/questdb/cairo/BitmapIndexBwdNullReader.java
  core/src/main/java/io/questdb/cairo/BitmapIndexFwdNullReader.java
  core/src/test/java/io/questdb/test/cairo/BitmapIndexBwdNullReaderTest.java
  core/src/test/java/io/questdb/test/cairo/BitmapIndexFwdNullReaderTest.java
Labels: Bug, SQL
