Repository questdb/questdb, pull requests merged in 2025-06, with the labels that each got.

#5693 fix(sql): invalidate dependent materialized views on base table rename
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshJob.java
  core/src/main/java/io/questdb/cairo/mv/MatViewStateStore.java
  core/src/main/java/io/questdb/cairo/mv/MatViewStateStoreImpl.java
  core/src/main/java/io/questdb/cairo/mv/MatViewTimerJob.java
  core/src/main/java/io/questdb/cairo/mv/NoOpMatViewStateStore.java
  core/src/main/java/io/questdb/cairo/pool/SqlCompilerPool.java
  core/src/main/java/io/questdb/cairo/wal/OperationExecutor.java
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/java/io/questdb/griffin/SqlCompiler.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/MatViewsFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/TimestampFloorFromFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/TimestampFloorFromOffsetFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/ops/AlterOperation.java
  core/src/main/java/io/questdb/std/datetime/microtime/Timestamps.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewFuzzTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTelemetryTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/date/TimestampFloorFromOffsetFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: Bug, SQL

#5743 ci(pgwire): reduce unnecessary runs of PGWire workflow
  .github/workflows/pgwire_stable.yml
Labels: CI

#5730 feat(sql): allow self-UNION queries in materialized views
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/test/java/io/questdb/test/cairo/mv/CreateMatViewTest.java
Labels: Enhancement, SQL, Materialized View

#5758 test(sql): remove error position compensation
  core/src/test/java/io/questdb/test/griffin/CreateTableFuzzTest.java
Labels: Flaky Test

#5779 docs(sql): demo queries updated
  README.md
Labels: Documentation

#5761 feat(sql): add generate_series() functions
  core/src/main/java/io/questdb/cairo/sql/Function.java
  core/src/main/java/io/questdb/griffin/FunctionParser.java
  core/src/main/java/io/questdb/griffin/SqlException.java
  core/src/main/java/io/questdb/griffin/engine/functions/constants/DoubleConstant.java
  core/src/main/java/io/questdb/griffin/engine/functions/constants/LongConstant.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/AbstractGenerateSeriesRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesDoubleDefaultFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesDoubleFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesDoubleRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesLongDefaultFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesLongFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesLongRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesTimestampLongFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesTimestampRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesTimestampStringFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/GenerateSeriesTimestampStringRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/TimestampAddFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/LastValueDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/SampleByFillValueNotKeyedRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/groupby/SimpleMapValue.java
  core/src/main/java/io/questdb/griffin/engine/groupby/SimpleMapValuePeeker.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/date/GenerateSeriesFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/date/TimestampAddFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/date/TimestampAddWithTimezoneFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByBugfixTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/SampleByTest.java
  core/src/test/java/io/questdb/test/griffin/engine/window/WindowFunctionTest.java
Labels: SQL
