Repository questdb/questdb, pull requests merged in 2025-05, with the labels that each got.

#5640 chore(sql): add last_refresh_started_timestamp to materialized_views() output
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshExecutionContext.java
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshJob.java
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshTask.java
  core/src/main/java/io/questdb/cairo/mv/MatViewState.java
  core/src/main/java/io/questdb/cairo/mv/MatViewStateStoreImpl.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContext.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContextImpl.java
  core/src/main/java/io/questdb/griffin/engine/QueryProgress.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/MatViewsFunctionFactory.java
  core/src/test/java/io/questdb/test/cairo/mv/CreateMatViewTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewStateTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
Labels: Enhancement, Materialized View

#5654 fix(sql): missing tables and materialized views are not critical errors
  core/src/main/java/io/questdb/cairo/CairoException.java
  core/src/test/java/io/questdb/test/cairo/CairoExceptionTest.java
Labels: Bug

#5629 chore(core): add bitmap index for `TxnScoreboardV2`
  benchmarks/src/main/java/org/questdb/TxnScoreboardV2Benchmark.java
  core/src/main/java/io/questdb/cairo/TxnScoreboardV2.java
  core/src/test/java/io/questdb/test/cairo/TxnScoreboardTest.java
Labels: Core

#5638 feat(sql): ALTER MATERIALIZED VIEW SET REFRESH LIMIT and SET TTL
  core/src/main/java/io/questdb/cairo/CairoTable.java
  core/src/main/java/io/questdb/cairo/MetadataCache.java
  core/src/main/java/io/questdb/cairo/TableReaderMetadata.java
  core/src/main/java/io/questdb/cairo/TableStructure.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/TableWriterMetadata.java
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshJob.java
  core/src/main/java/io/questdb/cairo/wal/MetadataService.java
  core/src/main/java/io/questdb/cairo/wal/WalTxnDetails.java
  core/src/main/java/io/questdb/cairo/wal/seq/MetadataServiceStub.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/MatViewsFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/TablesFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/ops/AlterOperation.java
  core/src/main/java/io/questdb/griffin/engine/ops/AlterOperationBuilder.java
  core/src/test/java/io/questdb/test/cairo/TableReaderMetadataTest.java
  core/src/test/java/io/questdb/test/cairo/TtlTest.java
  core/src/test/java/io/questdb/test/cairo/mv/CreateMatViewTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewStateTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
Labels: Enhancement, SQL, Materialized View

#5655 fix(sql): non-deterministic function not rejected when creating materialized view
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshExecutionContext.java
  core/src/main/java/io/questdb/griffin/FunctionParser.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/SqlException.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContext.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContextImpl.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByUtils.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/test/java/io/questdb/test/cairo/mv/CreateMatViewTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/cutlass/text/SqlExecutionContextStub.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
Labels: Bug, SQL, Materialized View

#5672 fix(sql): case sensitive base table name when creating materialized view
  core/src/main/java/io/questdb/cairo/mv/MatViewStateStoreImpl.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
Labels: Bug, SQL, Materialized View

#5669 fix(sql): breaking change 💥- `greatest(V)` and `least(V)` now return null only if all args are null
  core/src/main/java/io/questdb/griffin/engine/functions/math/GreatestNumericFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/math/LeastNumericFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/GreatestNumericFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/math/LeastNumericFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/window/WindowFunctionTest.java
Labels: Bug, SQL

#5681 fix(sql): NullPointerException when calling vararg functions with no arguments
  core/rust/qdb-core/src/error.rs
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/CaseFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/CoalesceFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/SwitchFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/rnd/ListFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/rnd/LongSequenceFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/rnd/RndStringListFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/rnd/RndSymbolListFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/rnd/RndVarcharListFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/str/ConcatFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/table/HydrateTableMetadataFunctionFactory.java
  core/src/test/java/io/questdb/test/griffin/SqlCompilerImplTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/conditional/CaseFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/conditional/CoalesceFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/str/ConcatFunctionFactoryTest.java
Labels: Bug, SQL

#5662 feat(sql): REFRESH MATERIALIZED VIEW RANGE
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshJob.java
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshTask.java
  core/src/main/java/io/questdb/cairo/mv/MatViewState.java
  core/src/main/java/io/questdb/cairo/mv/MatViewStateStore.java
  core/src/main/java/io/questdb/cairo/mv/MatViewStateStoreImpl.java
  core/src/main/java/io/questdb/cairo/mv/NoOpMatViewStateStore.java
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/tasks/TelemetryMatViewTask.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewStateTest.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalWriterTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
Labels: Enhancement, SQL, Materialized View

#5673 test(http): fix flaky test
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
Labels: Bug, Flaky Test

#5697 chore(build): Fix outdated Node.js for Danger GitHub Action
  .github/workflows/danger.yml
Labels: Bug, CI

#5701 fix(core): fix for emoji in instance name breaking web console
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PublicPassthroughConfiguration.java
  core/src/main/java/io/questdb/ServerConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cutlass/http/HttpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/http/HttpResponseHeader.java
  core/src/main/java/io/questdb/cutlass/http/HttpResponseSink.java
  core/src/main/java/io/questdb/cutlass/http/processors/RejectProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/RejectProcessorImpl.java
  core/src/main/java/io/questdb/cutlass/http/processors/SettingsProcessor.java
  core/src/main/java/io/questdb/cutlass/http/processors/SettingsProcessorState.java
  core/src/main/java/io/questdb/cutlass/http/processors/TableStatusCheckProcessor.java
  core/src/main/java/io/questdb/preferences/SettingsStore.java
  core/src/test/java/io/questdb/test/cutlass/http/SettingsEndpointTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/json/JsonExtractVarcharFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/preferences/SettingsStoreConcurrentTest.java
Labels: tandem

#5706 fix(sql): potential memory leak in plain INSERTs
  core/src/main/java/io/questdb/cairo/CairoEngine.java
  core/src/main/java/io/questdb/cairo/sql/InsertOperation.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGConnectionContextModern.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGPipelineEntry.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/TypesAndInsertModern.java
  core/src/main/java/io/questdb/griffin/InsertRowImpl.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/engine/ops/InsertAsSelectOperationImpl.java
  core/src/main/java/io/questdb/griffin/engine/ops/InsertOperationImpl.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, SQL
