Repository questdb/questdb, pull requests merged in 2025-08, with the labels that each got.

#5939 perf(sql): optimise query performance through lazy size calculation
  core/src/main/java/io/questdb/cairo/AbstractIntervalPartitionFrameCursor.java
  core/src/main/java/io/questdb/cairo/FullBwdPartitionFrameCursor.java
  core/src/main/java/io/questdb/cairo/FullFwdPartitionFrameCursor.java
  core/src/main/java/io/questdb/cairo/IntervalBwdPartitionFrameCursor.java
  core/src/main/java/io/questdb/cairo/IntervalFwdPartitionFrameCursor.java
  core/src/main/java/io/questdb/cairo/NativeTimestampFinder.java
  core/src/main/java/io/questdb/cairo/ParquetTimestampFinder.java
  core/src/main/java/io/questdb/cairo/TableReader.java
  core/src/main/java/io/questdb/cairo/TimestampFinder.java
  core/src/main/java/io/questdb/cairo/TxReader.java
  core/src/main/java/io/questdb/cairo/sql/PageFrameCursor.java
  core/src/main/java/io/questdb/cairo/sql/PartitionFrameCursor.java
  core/src/main/java/io/questdb/cairo/sql/RecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/functions/table/ReadParquetPageFrameCursor.java
  core/src/main/java/io/questdb/griffin/engine/join/HashJoinLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/BwdTableReaderPageFrameCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/FwdTableReaderPageFrameCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/PageFrameRecordCursorImpl.java
  core/src/main/java/io/questdb/griffin/engine/table/SelectedRecordCursorFactory.java
  core/src/test/java/io/questdb/test/cairo/TimestampFinderTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/AbstractLineTcpReceiverFuzzTest.java
  core/src/test/java/io/questdb/test/cutlass/suspend/TestCases.java
  core/src/test/java/io/questdb/test/griffin/AsOfJoinTest.java
  core/src/test/java/io/questdb/test/griffin/GroupByTest.java
  core/src/test/java/io/questdb/test/griffin/IntervalSearchOpenPartitionTrackingTest.java
  core/src/test/java/io/questdb/test/griffin/JoinTest.java
  core/src/test/java/io/questdb/test/griffin/LatestByTest.java
  core/src/test/java/io/questdb/test/griffin/Long128Tests.java
  core/src/test/java/io/questdb/test/griffin/OrderByAdviceTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByWithFilterTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByWithIntervalFilterTest.java
  core/src/test/java/io/questdb/test/griffin/ProjectionReferenceTest.java
  core/src/test/java/io/questdb/test/griffin/SecurityTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCodeGeneratorTest.java
  core/src/test/java/io/questdb/test/griffin/SqlCompilerImplTest.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/SymbolTest.java
  core/src/test/java/io/questdb/test/griffin/TimestampQueryTest.java
  core/src/test/java/io/questdb/test/griffin/WithClauseTest.java
  core/src/test/java/io/questdb/test/griffin/engine/window/WindowFunctionTest.java
Labels: SQL, Performance

#6020 feat(sql): truncate if exists
  core/src/main/java/io/questdb/cutlass/http/client/HttpClient.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/http/RetryIODispatcherTest.java
  core/src/test/java/io/questdb/test/griffin/TruncateTest.java
Labels: New feature, SQL

#5957 perf(sql): parallel execution of ORDER BY + LIMIT queries (up to 10x speed-up)
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/PropertyKey.java
  core/src/main/java/io/questdb/cairo/CairoConfiguration.java
  core/src/main/java/io/questdb/cairo/CairoConfigurationWrapper.java
  core/src/main/java/io/questdb/cairo/DefaultCairoConfiguration.java
  core/src/main/java/io/questdb/cairo/mv/MatViewRefreshSqlExecutionContext.java
  core/src/main/java/io/questdb/cairo/sql/PageFrameMemoryPool.java
  core/src/main/java/io/questdb/cairo/sql/PageFrameMemoryRecord.java
  core/src/main/java/io/questdb/cairo/sql/RecordCursor.java
  core/src/main/java/io/questdb/cairo/sql/RecordRandomAccess.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceJob.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameReduceTask.java
  core/src/main/java/io/questdb/cairo/sql/async/PageFrameSequence.java
  core/src/main/java/io/questdb/cairo/wal/WalApplySqlExecutionContext.java
  core/src/main/java/io/questdb/cutlass/http/HttpConnectionContext.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGConnectionContextModern.java
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContext.java
  core/src/main/java/io/questdb/griffin/SqlExecutionContextImpl.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/RankFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/groupby/GroupByFunctionsUpdaterFactory.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeLongTreeChain.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeSortedLightRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LimitedSizeSortedLightRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/orderby/LongTopKRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/orderby/RecordComparatorCompiler.java
  core/src/main/java/io/questdb/griffin/engine/orderby/SortedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilterUtils.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncFilteredRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByAtom.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByNotKeyedRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncGroupByRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncTopKAtom.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncTopKRecordCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/AsyncTopKRecordCursorFactory.java
  core/src/main/java/io/questdb/griffin/engine/table/BwdTableReaderPageFrameCursor.java
  core/src/main/java/io/questdb/griffin/engine/table/FwdTableReaderPageFrameCursor.java
  core/src/main/resources/io/questdb/site/conf/server.conf
  core/src/test/java/io/questdb/test/PropServerConfigurationTest.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/fuzz/ParallelGroupByFuzzTest.java
  core/src/test/java/io/questdb/test/cairo/fuzz/ParallelTopKFuzzTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/cutlass/text/SqlExecutionContextStub.java
  core/src/test/java/io/questdb/test/griffin/ClickBenchTest.java
  core/src/test/java/io/questdb/test/griffin/ExplainPlanTest.java
  core/src/test/java/io/questdb/test/griffin/OrderByTimeoutTest.java
  core/src/test/java/io/questdb/test/griffin/SqlOptimiserTest.java
  core/src/test/java/io/questdb/test/griffin/engine/table/AsyncFilteredRecordCursorFactoryTest.java
  core/src/test/resources/server.conf
  pkg/ami/marketplace/assets/server.conf
Labels: SQL, Performance

#6038 fix(core): incorrect year rounding in case of leap years
  core/src/main/java/io/questdb/griffin/engine/groupby/YearTimestampSampler.java
  core/src/main/java/io/questdb/std/datetime/microtime/Timestamps.java
  core/src/test/java/io/questdb/test/cairo/mv/MatViewTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/YearTimestampSamplerTest.java
Labels: Bug, Core

#6053 fix(core): fix potential File Descriptor leak on table drop
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/TableWriterSegmentFileCache.java
  core/src/test/java/io/questdb/test/cairo/BitmapIndexConcurrentTest.java
Labels: Bug, storage

#6055 fix(sql): memory leak when querying a table which is being ALTERed concurrently
  core/src/main/java/io/questdb/griffin/SqlCodeGenerator.java
Labels: Bug, SQL, Java

#6061 fix(sql): fix SELECT DISTINCT queries with table name prefixed columns
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/SqlUtil.java
  core/src/main/java/io/questdb/std/LowerCaseCharSequenceHashSet.java
  core/src/test/java/io/questdb/test/griffin/DistinctJoinAliasTest.java
  core/src/test/java/io/questdb/test/griffin/DistinctTest.java
  core/src/test/java/io/questdb/test/griffin/SqlUtilTest.java
  core/src/test/java/io/questdb/test/std/LowerCaseCharSequenceHashSetTest.java
Labels: Bug, SQL

#6082 fix(core): fix a potential database crash when under a load of a prolonged period of time
  core/src/main/java/io/questdb/cairo/wal/WalTxnDetails.java
  core/src/main/java/io/questdb/cairo/wal/seq/TableTransactionLogV1.java
  core/src/main/java/io/questdb/std/FdCache.java
  core/src/main/java/io/questdb/std/Files.java
  core/src/main/java/io/questdb/std/MmapCache.java
  core/src/test/java/io/questdb/test/std/FdCacheCounterOverflowTest.java
Labels: Bug, Core
