Repository questdb/questdb, pull requests merged in 2025-01, with the labels that each got.

#5253 fix(pgwire): byte column binding issue fix
  .gitignore
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGPipelineEntry.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/TypesAndInsertModern.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/TypesAndSelectModern.java
  core/src/main/java/io/questdb/griffin/engine/functions/bind/ShortBindVariable.java
  core/src/main/java/io/questdb/std/LongList.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/std/LongListTest.java
Labels: Bug, SQL

#5281 chore(sql): avoid printing sensitive config values when reloading config
  core/src/main/java/io/questdb/DynamicPropServerConfiguration.java
Labels: Tidy up, Security

#5209 feat(sql): add timezone-aware variant of dateadd
  core/src/main/java/io/questdb/griffin/FunctionParser.java
  core/src/main/java/io/questdb/griffin/engine/functions/NegatingFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/SwappingArgsFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/conditional/CaseCommon.java
  core/src/main/java/io/questdb/griffin/engine/functions/date/TimestampAddWithTimezoneFunctionFactory.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/io.questdb.griffin.FunctionFactory
  core/src/test/java/io/questdb/test/griffin/engine/functions/date/TimestampAddFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/date/TimestampAddWithTimezoneFunctionFactoryTest.java
Labels: SQL

#5288 fix(core): improve storage error handling to avoid resource leaks
  core/src/main/java/io/questdb/cairo/TableReader.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
Labels: Bug, Core

#5207 feat(sql): add `DECLARE` keyword to support variable bindings
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/FunctionParser.java
  core/src/main/java/io/questdb/griffin/OperatorExpression.java
  core/src/main/java/io/questdb/griffin/SqlException.java
  core/src/main/java/io/questdb/griffin/SqlKeywords.java
  core/src/main/java/io/questdb/griffin/SqlOptimiser.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/main/java/io/questdb/griffin/model/ExpressionNode.java
  core/src/main/java/io/questdb/griffin/model/QueryModel.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGDeclareSyntaxTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/griffin/DeclareTest.java
  core/src/test/java/io/questdb/test/griffin/FunctionParserErrorTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
Labels: SQL

#5298 chore(sql): shift ParallelGroupByFuzzTest out of `griffin`
  core/src/test/java/io/questdb/test/cairo/fuzz/O3MaxLagFuzzTest.java
  core/src/test/java/io/questdb/test/cairo/fuzz/O3ParquetPartitionFuzzTest.java
  core/src/test/java/io/questdb/test/cairo/fuzz/ParallelGroupByFuzzTest.java
Labels: SQL

#5300 perf(sql): speed up execution of window functions and joins on Windows platform
  benchmarks/src/main/java/org/questdb/UnorderedVarcharMapBenchmark.java
  ci/templates/hosted-jobs.yml
  core/rust/qdbr/rust-toolchain.toml
  core/src/main/java/io/questdb/cairo/BitmapIndexWriter.java
  core/src/main/java/io/questdb/cairo/IndexBuilder.java
  core/src/main/java/io/questdb/cairo/SymbolMapUtil.java
  core/src/main/java/io/questdb/cairo/TableConverter.java
  core/src/main/java/io/questdb/cairo/TableUtils.java
  core/src/main/java/io/questdb/cairo/TableWriter.java
  core/src/main/java/io/questdb/cairo/mig/EngineMigration.java
  core/src/main/java/io/questdb/cairo/vm/MemoryCARWImpl.java
  core/src/main/java/io/questdb/cairo/vm/Vm.java
  core/src/main/java/io/questdb/cairo/wal/WalEventWriter.java
  core/src/main/java/io/questdb/cairo/wal/WalWriter.java
  core/src/main/java/io/questdb/cairo/wal/WalWriterMetadata.java
  core/src/main/java/io/questdb/cairo/wal/seq/SequencerMetadata.java
  core/src/main/java/io/questdb/cutlass/http/processors/LineHttpTudCache.java
  core/src/main/java/io/questdb/cutlass/line/tcp/LineTcpMeasurementScheduler.java
  core/src/main/java/io/questdb/cutlass/line/udp/LineUdpParserImpl.java
  core/src/main/java/io/questdb/cutlass/text/CairoTextWriter.java
  core/src/main/java/io/questdb/cutlass/text/ParallelCsvFileImporter.java
  core/src/main/java/io/questdb/griffin/SqlCompilerImpl.java
  core/src/main/java/io/questdb/griffin/engine/functions/rnd/RndStringMemory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/AvgDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/CountConstWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/CountDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/CountFunctionFactoryHelper.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/CountSymbolWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/CountVarcharWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/FirstNotNullValueDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/FirstValueDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/MaxDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/MinDoubleWindowFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/window/SumDoubleWindowFunctionFactory.java
  core/src/test/java/io/questdb/test/AbstractCairoTest.java
  core/src/test/java/io/questdb/test/cairo/BinarySearchTest.java
  core/src/test/java/io/questdb/test/cairo/BitmapIndexTest.java
  core/src/test/java/io/questdb/test/cairo/CairoEngineTest.java
  core/src/test/java/io/questdb/test/cairo/CairoMemoryTest.java
  core/src/test/java/io/questdb/test/cairo/CairoReadonlyEngineTest.java
  core/src/test/java/io/questdb/test/cairo/MemRemappedFileTest.java
  core/src/test/java/io/questdb/test/cairo/TableNameRegistryTest.java
  core/src/test/java/io/questdb/test/cairo/TableReaderMetadataCorruptionTest.java
  core/src/test/java/io/questdb/test/cairo/TableReaderTest.java
  core/src/test/java/io/questdb/test/cairo/TableWriterTest.java
  core/src/test/java/io/questdb/test/cairo/vm/ContiguousMemoryMTest.java
  core/src/test/java/io/questdb/test/cairo/vm/ContiguousOffsetMappedMemoryTest.java
  core/src/test/java/io/questdb/test/cairo/wal/WalListenerTest.java
  core/src/test/java/io/questdb/test/cutlass/line/tcp/LineTcpReceiverTest.java
  core/src/test/java/io/questdb/test/fuzz/FuzzDropCreateTableOperation.java
  core/src/test/java/io/questdb/test/griffin/AlterTableDetachPartitionTest.java
  core/src/test/java/io/questdb/test/tools/TestUtils.java
Labels: SQL, Performance

#5312 feat(sql): mark reloadable properties in show parameters SQL
  core/src/main/java/io/questdb/DynamicPropServerConfiguration.java
  core/src/main/java/io/questdb/PropServerConfiguration.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/ShowParametersCursorFactory.java
  core/src/test/java/io/questdb/test/ServerMainTest.java
  core/src/test/java/io/questdb/test/cairo/Overrides.java
Labels: Enhancement, SQL, tandem

#5316 test(sql): fix flaky testNonAdminCanNotSeeOtherUsersCommands()
  core/src/test/java/io/questdb/test/griffin/engine/functions/activity/QueryActivityFunctionFactoryTest.java
Labels: Bug, Flaky Test

#5323 fix(core): fix memory leak when handing file open error
  core/src/main/java/io/questdb/cairo/O3OpenColumnJob.java
Labels: Bug, Core

#5285 fix(sql): fix PGWire `char` type mapping and binary protocol issues with `boolean` type
  .github/workflows/pgwire_stable.yml
  .gitignore
  compat/src/test/csharp/Program.cs
  compat/src/test/csharp/csharp.csproj
  compat/src/test/python/common.py
  compat/src/test/resources/test_cases.yaml
  compat/src/test/rust/scenarios/src/main.rs
  compat/src/test/scenarios_latest.sh
  compat/src/test/scenarios_stable.sh
  core/src/main/java/io/questdb/cutlass/pgwire/PGOids.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGResponseSink.java
  core/src/main/java/io/questdb/cutlass/pgwire/PGWireConfiguration.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGConnectionContextModern.java
  core/src/main/java/io/questdb/cutlass/pgwire/modern/PGPipelineEntry.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/PgAttributeFunctionFactory.java
  core/src/main/java/io/questdb/griffin/engine/functions/catalogue/PgTypeCatalogueCursor.java
  core/src/main/java/io/questdb/std/IntShortHashMap.java
  core/src/main/java/io/questdb/std/Numbers.java
  core/src/test/java/io/questdb/test/cutlass/http/IODispatcherTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGOidsTest.java
  core/src/test/java/io/questdb/test/griffin/DBeaverTest.java
  core/src/test/java/io/questdb/test/griffin/ExcelODBCTest.java
  core/src/test/java/io/questdb/test/griffin/PowerBiTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/PgAttributeFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/catalogue/PgTypeFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/std/IntShortHashMapTest.java
Labels: Bug, Postgres Wire

#5327 chore(core): bump web console to 0.7.0
  core/pom.xml
Labels: UI

#5318 feat(sql): sql parser support for 'union distinct' and 'foo is [not] true/false'
  core/src/main/java/io/questdb/griffin/ExpressionParser.java
  core/src/main/java/io/questdb/griffin/SqlParser.java
  core/src/test/java/io/questdb/test/griffin/ExpressionParserTest.java
  core/src/test/java/io/questdb/test/griffin/SqlParserTest.java
  core/src/test/java/io/questdb/test/griffin/UnionTest.java
Labels: SQL, Compatibility

#5328 chore(sql): sample-by clean ups and fixes
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/AbstractCountGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctIPv4GroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/CountDistinctVarcharGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstDateGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstGeoHashGroupByFunctionShort.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstStrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/FirstVarcharGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/MaxDateGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/MaxStrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/MinStrGroupByFunction.java
  core/src/main/java/io/questdb/griffin/engine/functions/groupby/VwapDoubleGroupByFunction.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctIPv4GroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/CountDistinctVarcharGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/MaxStrGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/MinStrGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/functions/groupby/VwapDoubleGroupByFunctionFactoryTest.java
  core/src/test/java/io/questdb/test/griffin/engine/groupby/CountTest.java
Labels: Bug, SQL

#5338 test(core): flapping ParquetTest.testAllTypesColTopMiddlePartition() fixed
  compat/src/test/java/io/questdb/compat/ParquetTest.java
  core/src/test/java/io/questdb/test/cutlass/pgwire/PGJobContextTest.java
Labels: Bug, Flaky Test
